@using BlazorLib
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}

<div class="card">
    <div class="card-header">
        <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Токены</label>
            <select @bind="SelectedConfId" class="form-select" aria-label="Default select example">
                @if (AllTokens.Length == 0)
                {
                    <option value="0" selected>Справочник подключений пуст</option>
                }
                else
                {
                    foreach (ApiRestConfigModelDB connect in AllTokens.OrderBy(x => x.Name))
                    {
                        <option value="@connect.Id">@connect.Name @connect.AddressBaseUri</option>
                    }
                }
            </select>
            @if (SelectedConfId != 0)
            {
                <button @onclick="() => ApiConnect.Empty()" class="btn btn-outline-secondary" type="button">Создать новый</button>
            }
            else if (AllTokens.Length != 0)
            {
                <button @onclick="() => ApiConnect.Update(AllTokens.First())" class="btn btn-outline-secondary" type="button">Отмена</button>
            }
        </div>
    </div>
    <div class="card-body">
        <ConnectionConfigComponent @ref="configRef" SetActiveHandle="SetActiveHandler" />
        @if (AllTokens.Length == 0)
        {
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Доступные подключения отсутствуют.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Добавьте своё первое <cite title="токен доступа">подключение</cite>
                </figcaption>
            </figure>
        }
        else if (SelectedConfId == 0)
        {
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Не выбрано подключение.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Выбор <cite title="для активации панели">токена</cite> подключения
                </figcaption>
            </figure>
        }
        else if (configRef?.GetMe?.Success() == true)
        {
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Статус">
                    <div class="card my-1">
                        <div class="card-body">
                            <h5 class="card-title">Карточка клиента</h5>
                            @* <h6 class="card-subtitle mb-2 text-body-secondary">@testResult.Response.UserName</h6>
                            @foreach (string _r in testResult.Response.Roles)
                            {
                                <span class="badge text-bg-primary mx-1">@_r</span>
                            } *@
                        </div>
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Файлы/Папки">
                    <SyncFilesComponent ParentPage="this" />
                </MudTabPanel>
                <MudTabPanel Text="Команды">
                    <ExeCommandsComponent ParentPage="this" />
                </MudTabPanel>
                <MudTabPanel Text="Логи">
                    <LogsComponent />
                </MudTabPanel>
            </MudTabs>
        }
    </div>
</div>