@using BlazorWebLib.Components.Constructor.Shared.Projects
@inherits BlazorBusyComponentBaseModel

<MudDialog Style="min-width:100%">
    <DialogContent>
        <TabSetComponent IsSilent="true">
            <TabComponent Tooltip="Базовые настройки" Title="Параметры" SystemName="@($"base-{ProjectForEdit.Id}")">
                <form class="row">
                    <div class="col-12">
                        <label for="inputProjectName4" class="form-label">Название</label>
                        <input type="text" class="form-control" id="inputProjectName4" @bind-value="projectObject.Name" @bind-value:event="oninput" placeholder="Наименование проекта">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="@(_currentTemplateInputRichText?.UID)" class="form-label">Описание</label>
                        <TinyMCE.Blazor.Editor Value="@projectObject.Description" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="IsBusyProgress" />
                    </div>
                    @if (projectObject.Id > 0)
                    {
                        <div class="form-check" title="Деактивация проекта блокирует работы по нему для соучастников">
                            <input disabled="@(!CurrentUser.UserId.Equals(ProjectForEdit.OwnerUserId))" class="form-check-input" type="checkbox" value="" id="flexCheckIsDeleted" @bind="projectObject.IsDisabled">
                            <label class="form-check-label" for="flexCheckIsDeleted">
                                @(projectObject.IsDisabled ? "Выключен. Включить?" : "Активен. Выключить?")
                            </label>
                        </div>
                    }
                </form>
            </TabComponent>
            <TabComponent Tooltip="Доступ" Title="Участники" IsDisabled="@(projectObject.Id < 1)" SystemName="@($"access-{ProjectForEdit.Id}")">
                <MembersOfProjectComponent ProjectView="projectObject" ProjectsList="ParentListProjects" />
            </TabComponent>
        </TabSetComponent>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Закрыть</MudButton>
        <MudButton Color="Color.Primary" OnClick="SaveProject" Disabled="@(!CanSave)">Записать</MudButton>
        @if (projectObject.Id > 0 && !projectObject.Equals(ProjectForEdit))
        {
            <MudTooltip Text="Отменить редактирование">
                <MudButton Color="Color.Info" OnClick="ResetForm" Disabled="@(!CanSave)">Отменить</MudButton>
            </MudTooltip>
        }
    </DialogActions>
</MudDialog>