@inherits FieldFormEditFormBaseComponent

<div class="mb-3 col-12">
    <label for="inputSelect-@(DomID)" class="form-label">Тип поля</label>
    <select @bind="SelectedTypeFieldForEditRow" class="form-select" id="inputSelect-@(DomID)" aria-describedby="@(DomID)Help" disabled="@(!ParentFormsPage.CanEditProject)">
        @foreach (TypesFieldsFormsEnum tf in Enum.GetValues(typeof(TypesFieldsFormsEnum)))
        {
            <option class="@(tf == TypesFieldsFormsEnum.ProgramCalculationDouble ? "text-primary" : (tf == TypesFieldsFormsEnum.Generator ? "text-info" : ""))" value="@tf">@tf.DescriptionInfo()</option>
        }
    </select>
    <div id="@(DomID)Help" class="form-text">Укажите тип поля</div>
</div>
@if (SelectedTypeFieldForEditRow == TypesFieldsFormsEnum.Text)
{
    <TextFieldFormRowEditUIComponent Field="Field" @ref="FieldTextUI" />
}
else if (SelectedTypeFieldForEditRow == TypesFieldsFormsEnum.Generator)
{
    <GeneratorFieldFormRowEditUIComponent Field="Field" @ref="FieldGeneratorUI" />
}
else if (SelectedTypeFieldForEditRow == TypesFieldsFormsEnum.ProgramCalculationDouble)
{
    <div class="col-md-6">
        <label for="inputSelect2-@(DomID)" class="form-label">Метод</label>
        <select id="inputSelect2-@(DomID)" @bind="SelectedProgramCalculationField" class="form-select" disabled="@(!ParentFormsPage.CanEditProject)">
            @foreach (EntryAltDescriptionModel e in Entries)
            {
                <option value="@e.Id">
                    <MudTooltip Text="@e.Description">
                        @e.Name
                    </MudTooltip>
                </option>
            }
        </select>
        <div id="@(DomID)Help" class="form-text">Функция обработки</div>
    </div>
    <div class="col-md-6">
        <label for="input3-@(DomID)" class="form-label">Имена полей</label>
        <input title="Имена полей в формате JSON массива" @bind-value="FieldsNames" @bind-value:event="oninput" type="text" placeholder='["Имя поля 1", "Имя поля 2", ...]' class="form-control" id="input3-@(DomID)" readonly="@(!ParentFormsPage.CanEditProject)">
        <div id="@(DomID)Help" class="form-text">Имена полей в формате JSON массива</div>
    </div>
    <div class="card border-info col-12">
        <div class="card-body">
            @(Descr(_dc?.About))
        </div>
    </div>
}

@if (!new[] { TypesFieldsFormsEnum.Bool, TypesFieldsFormsEnum.ProgramCalculationDouble, TypesFieldsFormsEnum.Generator }.Contains(SelectedTypeFieldForEditRow))
{
    <div class="col-12">
        <label for="inputPlaceholder_@($"{Form.Id}/{Field.Id}")" class="form-label">Placeholder</label>
        <input @bind-value="Placeholder" @bind-value:event="oninput" type="text" class="form-control" id="inputPlaceholder_@($"{Form.Id}/{Field.Id}")" readonly="@(!ParentFormsPage.CanEditProject)">
    </div>
}