@inherits BlazorBusyComponentBaseModel

<label for="inputSelect-@(DomID)" class="form-label">Тип справочника</label>
<select @bind="SelectedDirectoryField" class="form-select" id="inputSelect-@(DomID)" aria-describedby="@(DomID)Help" disabled="@(!ParentFormsPage.CanEditProject)">
    @foreach (EntryModel e in Entries)
    {
        <option value="@e.Id">@e.Name</option>
    }
</select>
<div id="@(DomID)Help" class="form-text">Укажите справочник/список для поля</div>