@inherits BlazorBusyComponentBaseModel

<div class="col-12">
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-md-10">
            <label for="inputSelect-@(DomID)" class="form-label">Тип справочника</label>
            <select @bind="SelectedDirectoryField" class="form-select" id="inputSelect-@(DomID)" aria-describedby="@(DomID)Help" disabled="@(IsBusyProgress || !ParentFormsPage.CanEditProject)">
                @if (Entries is not null)
                {
                    foreach (EntryModel e in Entries)
                    {
                        <option value="@e.Id">@e.Name</option>
                    }
                }
            </select>
            <div id="@(DomID)Help" class="form-text">Укажите справочник/список для поля</div>
        </div>
        <div class="col-md-2" title="Выбор нескольких значений">
            <div class="form-check form-check-inline">
                <input @bind="IsMultiDirectoryField" class="form-check-input" type="checkbox" id="multiSelectCheckboxFieldDirectoryFormRowEdit" disabled="@IsBusyProgress">
                <label class="form-check-label" for="multiSelectCheckboxFieldDirectoryFormRowEdit">Мульти-выбор</label>
            </div>
        </div>
    </div>
</div>