@using Newtonsoft.Json
@inherits FieldFormEditFormBaseComponent

<div dom-guid="{17683B62-4164-4D15-857D-C189C1057BAF}" class="col-md-6 border-bottom border-top py-2 border-start">
    <label for="exampleInputParameter2_@(DomID)" class="form-label">Программа</label>
    <select @bind="GeneratorClass" class="form-select" aria-label="Программа" id="exampleInputParameter2_@(DomID)" name="exampleInputParameter2_@(DomID)" aria-describedby="@($"exampleInputParameter2_{DomID}Help")">
        @foreach (EntryAltDescriptionModel gen_element in Entries)
        {
            <option title="@gen_element.Description" value="@gen_element.Id">@gen_element.Name</option>
        }
    </select>
    <div id="@($"exampleInputParameter2_{DomID}Help")" class="form-text">
        Обработчик запроса
    </div>
</div>
<div dom-guid="{2DAD5F6B-5C3A-43B4-9A5C-46CD4E9D0B37}" class="col-md-6 border-top border-bottom py-2 border-end rounded-end">
    <label for="exampleInputParameter1_@(DomID)" class="form-label">
        Опции/параметры
    </label>
    <input @bind-value="GeneratorFieldParameter" @bind-value:event="oninput" type="text" class="form-control" id="exampleInputParameter1_@(DomID)" name="exampleInputParameter1_@(DomID)" aria-describedby="@($"exampleInputParameter1_{DomID}Help")">
    <div id="@($"exampleInputParameter1_{DomID}Help")" class="form-text">
        JSON объект-словарь параметров
    </div>
</div>
@{
    string _gtn = RequestModel.GetType().Name;
}
<div class="card border-info col-12">
    <div class="card-body">
        @(Descr(_dc?.About))
        @if (!_gtn.Equals("object", StringComparison.OrdinalIgnoreCase))
        {
            @if (!string.IsNullOrEmpty(_dc?.About))
            {
                <hr />
            }
            <p class="card-subtitle mb-2 text-muted">Пример тела запроса:</p>
            <code>@JsonConvert.SerializeObject(RequestModel)</code>
        }
        else
        {
            <p>
                Запрос не обрабатывает параметры
            </p>
        }
    </div>
</div>