@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<MudTable ServerData="ServerReload" Dense="true" Hover="true" @ref="table" Loading="IsBusyProgress">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Periodic Elements</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="CreatedAt" T="StorageFileModelDB">CreatedAt</MudTableSortLabel></MudTh>
        <MudTh>FileName</MudTh>
        <MudTh>FileLength</MudTh>
        <MudTh>ContentType</MudTh>
        <MudTh>Property</MudTh>
        <MudTh>Prefix</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="CreatedAt">@context.CreatedAt</MudTd>
        <MudTd DataLabel="FileName">
            <button @onclick="() => FileManage(context)" type="button" class="btn btn-link">@context.FileName</button>
        </MudTd>
        <MudTd DataLabel="FileLength">@(GlobalTools.SizeDataAsString(context.FileLength))</MudTd>
        <MudTd DataLabel="ContentType">@context.ContentType</MudTd>
        <MudTd DataLabel="Property">@context.Name</MudTd>
        <MudTd DataLabel="Prefix">@context.PrefixPropertyName</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Данные отсутствуют</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (_selectedFile is not null)
{
    <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: block;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Файл</h1>
                    <button @onclick="closeFileManager" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@_selectedFile.Name - @GlobalTools.SizeDataAsString(_selectedFile.FileLength)</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button @onclick="DownloadFile" type="button" class="btn btn-outline-primary">Скачать</button>
                        <button @onclick="closeFileManager" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div @onclick="closeFileManager" tabindex="-1" class="offcanvas-backdrop fade show"></div>
}