@using MudBlazor
@inherits MetaPropertyBaseComponent

<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Теги</h5>
        <MudStack Justify="@Justify.Center" Class="mud-width-full">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <MudAutocomplete Disabled="IsBusyProgress" @ref="maRef" @bind-Value="TagAdding" SearchFunc="Search" Dense="true" Clearable="true" ShowProgressIndicator="true">
                        <ProgressIndicatorTemplate>
                            <MudProgressLinear Size="Size.Small" Indeterminate="true" />
                        </ProgressIndicatorTemplate>
                    </MudAutocomplete>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    @if (IsBusyProgress)
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
                    }
                    else
                    {
                        <MudChipSet Disabled="IsBusyProgress" T="TagModelDB"
                                    CheckMark="false"
                                    AllClosable="@true"
                                    OnClose="@OnChipClosed">
                            @for (int i = 0; i < TagsSets!.Count; i++)
                            {
                                int _ix = i;
                                TagModelDB _el = TagsSets![_ix];
                                <MudChip Variant="@Variant.Text" Value="@_el" Text="@_el.TagName" />
                            }
                        </MudChipSet>
                    }
                </MudItem>
            </MudGrid>
        </MudStack>
    </div>
</div>