@inherits LazySelectorComponent<UserInfoModel>

<div id="@toggleBtnId" style="max-width: 350px;" class="input-group mb-3">
    <input placeholder="" readonly="" type="text" class="form-control">
    <button @onclick="() => IsEditMode = !IsEditMode" title="Установить" class="btn btn-outline-secondary bi bi-pencil" type="button"></button>
    <ul class="chat-selector-input dropdown-menu @ShowIfEditing" id="@dropdownId" style="@StyleIfEditing" data-meta="@HeightDropdown">
        <i title="Отмена (закрыть меню выбора)" @onclick="EditToggle" class="bi bi-x-lg position-absolute top-0 end-0" style="cursor:pointer;"></i>
        @foreach (UserInfoModel uinf in LoadedData)
        {
            <li @onclick="() => SelectElementEvent(uinf)"><span class="dropdown-item">@uinf.ToString()</span></li>
        }
        @if (LoadedData.Count < TotalRowsCount)
        {
            <li><hr class="dropdown-divider"></li>
            <li @onclick="LoadPartData"><span class="dropdown-item">Загрузить ещё</span></li>
        }
    </ul>
</div>
@* 
<div id="@toggleBtnId" class="input-group mb-3">
    <button @onclick="EditToggle" class="btn btn-outline-secondary dropdown-toggle @ShowIfEditing" type="button" data-bs-toggle="dropdown" data-meta="@yToggleBtn" aria-expanded="@IsEditing">Изменить</button>
    <ul class="chat-selector-input dropdown-menu @ShowIfEditing" id="@dropdownId" style="@StyleIfEditing" data-meta="@HeightDropdown">
        <i title="Отмена (закрыть меню выбора)" @onclick="EditToggle" class="bi bi-x-lg position-absolute top-0 end-0" style="cursor:pointer;"></i>
        @foreach (ChatTelegramModelDB ch in LoadedData)
        {
            <li @onclick="() => SelectElementEvent(ch)"><span class="dropdown-item">@ch.ToString()</span></li>
        }
        @if (LoadedData.Count < TotalRowsCount)
        {
            <li><hr class="dropdown-divider"></li>
            <li @onclick="LoadPartData"><span class="dropdown-item">Загрузить ещё</span></li>
        }
    </ul>
    <input title="@(IsEditing ? "Введите текст запроса для поиска чата" : "")" @bind-value="SelectedValueText" @bind-value:event="oninput" readonly="@(!IsEditing)" type="text" class="form-control" placeholder="@(IsEditing ? "Поиск по чатам" : "")" aria-label="Text input with dropdown button">
</div>
*@