@using BlazorWebLib.Components.Helpdesk
@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Disabled="IsBusyProgress" Text="Информация">
        @if (IsBusyProgress)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
        }
        else
        {
            <div class="mb-3">
                <label for="artInputName" class="form-label">Название</label>
                <input @bind-value="editArticle.Name" @bind-value:event="oninput" type="text" class="form-control" id="artInputName">
            </div>

            @if (ArticleId < 1)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Объект не записан.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Сохраните <cite title="после сохранения объекта станут доступны его остальные параметры">материал</cite>
                    </figcaption>
                </figure>
            }
            else
            {
                <TinyMCE.Blazor.Editor @bind-Value="editArticle.Description" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="@(ArticleId < 1)" />
                <hr />
                <TagsForArticlesComponent Article="orignArticle" />
            }

            <div class="d-grid gap-2 mt-3">
                <button @onclick="SaveArticle" disabled="@((!IsEdited && editArticle.Id > 0) || string.IsNullOrWhiteSpace(editArticle.Name))" class="btn btn-@(string.IsNullOrWhiteSpace(editArticle.Name) ? "-outline-secondary" : "primary")" type="button">@(string.IsNullOrWhiteSpace(editArticle.Name) ? "Укажите название..." : "Записать")</button>
                @if (IsEdited && ArticleId > 0)
                {
                    <button @onclick="() => { editArticle = GlobalTools.CreateDeepCopy(orignArticle) ?? throw new Exception(); }" type="button" class="btn btn-light">Отмена</button>
                }
            </div>
        }
    </MudTabPanel>
    <MudTabPanel Disabled="@(ArticleId < 1 || IsBusyProgress || IsEdited)" Text="Категории">
        <MudPaper Class="ma-2" Elevation="3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Категории</h6>
                    <RubricsManageComponent ContextName="@GlobalStaticConstants.Routes.ARTICLES_CONTROLLER_NAME" SelectedValuesChanged="@(new TreeViewOptionsModel(){ SelectedNodes = [.. orignArticle.RubricsJoins?.Select(x => x.RubricId)], SelectedValuesChangedHandler = SelectedRubricsChange })" />
                </div>
            </div>
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Disabled="@(ArticleId < 1 || IsBusyProgress || IsEdited)" Text="Файлы">
        <FilesContextViewComponent ApplicationName="@GlobalStaticConstants.Routes.ARTICLE_CONTROLLER_NAME"
                                   PropertyName="@GlobalStaticConstants.Routes.ATTACHMENT_ACTION_NAME"
                                   PrefixPropertyName="@GlobalStaticConstants.Routes.USER_CONTROLLER_NAME"
                                   OwnerPrimaryKey="ArticleId"
                                   ManageMode="true" />
    </MudTabPanel>
</MudTabs>