@using System.Text.RegularExpressions

@inherits BlazorBusyComponentBaseModel

<MudDialog>
    <DialogContent>
        @if (IsBusyProgress)
        {
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
            </div>
        }
        else
        {
            <TabSetComponent>
                <TabComponent Tooltip="Параметры" Title="Параметры">
                    <form class="row g-3">
                        <div class="col-md-4">
                            <label for="inputName4" class="form-label">Название</label>
                            <input @bind-value="FormEditObject.Name" @bind-value:event="oninput" type="text" class="form-control" id="inputName4" placeholder="Наименование" readonly="@(!ParentFormsPage.CanEditProject)">
                        </div>
                        <div class="col-md-4" title="Классы стилей, которые будут применены к форме">
                            <label for="inputCSS4" class="form-label">CSS</label>
                            <input @bind-value="FormEditObject.Css" @bind-value:event="oninput" type="text" class="form-control" id="inputCSS4" readonly="@(!ParentFormsPage.CanEditProject)">
                        </div>
                        <div class="col-md-4" title="Текст кнопки для режима многострочной/табличной части документа">
                            <label for="inputBtn5" class="form-label">Текст кнопки создания</label>
                            <input @bind-value="FormEditObject.AddRowButtonTitle" @bind-value:event="oninput" type="text" class="form-control" id="inputBtn5" placeholder="Добавить строку" readonly="@(!ParentFormsPage.CanEditProject)">
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="@(_currentTemplateInputRichText?.UID)" class="form-label">Описание</label>
                                <InputRichTextComponent @bind-Value="FormEditObject.Description" @ref="_currentTemplateInputRichText" ReadOnly="@(!ParentFormsPage.CanEditProject)" />
                            </div>
                        </div>

                        @if (ParentFormsPage.CanEditProject)
                        {
                            <div class="col-12">
                                <div class="hstack gap-3">
                                    <div></div>
                                    <MudSpacer />
                                    <div>
                                        <div class="btn-group" role="group">
                                            <button @onclick="SaveForm" disabled="@(string.IsNullOrWhiteSpace(FormEditObject.Name) || !IsEdited)" class="btn btn-outline-success" type="button" id="save-form">Сохранить</button>
                                            @if (IsEdited)
                                            {
                                                <button @onclick="ResetForm" class="btn btn-outline-primary" type="button" id="reset-form">Сброс</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </TabComponent>
                <TabComponent Tooltip="Поля формы" Title="Поля формы" IsDisabled="@(Form.Id < 1)">
                    @if (Form.FieldsDirectoriesLinks is null || Form.Fields is null)
                    {
                        <blockquote class="blockquote">
                            <p>Форма пустая. Отсутствуют поля</p>
                        </blockquote>
                    }
                    else
                    {
                        <CascadingValue Value="ParentFormsPage">
                            <CascadingValue Value="Form">
                                <FieldsFormViewComponent @ref="_fields_view_ref" />
                            </CascadingValue>
                        </CascadingValue>
                    }
                </TabComponent>
            </TabSetComponent>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@(IsEdited && Form.Id > 0)" Color="Color.Primary" OnClick="Close">@(IsEdited && Form.Id > 0 ? "Форма изменена" : "Закрыть")</MudButton>
    </DialogActions>
</MudDialog>