@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}

<div class="hstack">
    <h5 class="card-title">@StepIssue.DescriptionInfo()</h5>
    @if (IsLarge)
    {
        <div class="ms-auto">
            <input @bind-value="SearchQuery" @bind-value:event="oninput" title="Поиск обращений по теме, описанию и названию рубрики" type="text" class="form-control" placeholder="Поиск">
        </div>
    }
</div>
<hr />
@if (Issues.Count == 0)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Данных нет.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Обращений <cite title="В статусе @StepIssue.ToString() обращений нет">не найдено</cite>
        </figcaption>
    </figure>
}
else
{
    foreach (IssueHelpdeskModel issue_element in Issues)
    {
        <div class="card mb-2" @key="@($"{issue_element.Id}-{issue_element.StatusDocument}")">
            <div class="card-body p-3">
                <h6 class="card-title">@issue_element.Name</h6>
                @if (issue_element.RubricIssue is not null)
                {
                    <h7 class="card-subtitle mb-2 text-body-secondary">Рубрика: @issue_element.RubricIssue.Name</h7>
                }
                <hr class="mt-1 pt-1" />
                @* @MyMarkup(issue_element.Description ?? "без описания") *@
                @{
                    OrderDocumentModelDB? current_order = OrdersCache.ContainsKey(issue_element.Id) ? OrdersCache.FirstOrDefault(x => x.Key == issue_element.Id).Value.FirstOrDefault() : null;
                    List<RecordsAttendanceModelDB>? current_order_attendance = OrdersAttendancesCache.ContainsKey(issue_element.Id) ? OrdersAttendancesCache.FirstOrDefault(x => x.Key == issue_element.Id).Value : null;
                }
                @if (!string.IsNullOrWhiteSpace(current_order?.Organization?.Name))
                {
                    <span>Юр.лицо: <u>@current_order.Organization!.Name</u></span>
                }
                <MudStack Row="true">
                    <a title="открыть обращение" href="/issue-card/@issue_element.Id" class="card-link">Перейти</a>
                    <MudSpacer />
                    <code title="Дата последнего обновления">
                        @(IsLarge ? issue_element.LastUpdateAt.ToString("dd.MM.yy HH:mm") : issue_element.LastUpdateAt.GetCustomTime().ToString("d", cultureInfo))
                    </code>
                </MudStack>
            </div>
        </div>
    }
    @if (Issues.Count < totalCount)
    {
        <div class="d-grid gap-2">
            <button @onclick="LoadData" class="btn btn-primary" type="button">Загрузить ещё</button>
        </div>
    }
}