@inherits FormBaseModel

<div class="card mb-2">
    <div class="card-body">
        <div class="@FormMetadata.Css" title="@(string.IsNullOrWhiteSpace(FormMetadata.Description) ? "" : string.Join(" ", GlobalTools.DescriptionHtmlToLinesRemark(FormMetadata.Description)))">
            @foreach (BaseRequiredFormFitModel field in FormMetadata.AllFields)
            {
                <div class="@field.Css" title="@(string.IsNullOrWhiteSpace(field.Description) ? "" : string.Join(" ", GlobalTools.DescriptionHtmlToLinesRemark(field.Description)))">
                    @if (field is FieldFitModel bf)
                    {
                        switch (bf.TypeField)
                        {
                            case TypesFieldsFormsEnum.Bool:
                            
                                break;
                        }
                    }
                    else if (field is FieldAkaDirectoryFitModel df)
                    {

                    }
                    else
                    {

                    }
                    <p>@field.Name</p>
                </div>
            }
        </div>
        @if (IsEdited)
        {
            <div class="btn-toolbar justify-content-end" role="toolbar">
                <div class="btn-group btn-group-sm" role="group">
                    <button @onclick="SaveForm" type="button" class="btn btn-outline-primary">Сохранить...</button>
                    <button @onclick="ResetForm" type="button" class="btn btn-outline-primary">Отмена</button>
                </div>
            </div>
        }
    </div>
</div>