@inherits BlazorBusyComponentBaseModel

@if (!PageJoinForm.Form!.AllFields.Any())
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Полей в таблице нет.</p>
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <p class="h5 mt-4">@Title</p>
            }
        </blockquote>
    </figure>
}
else
{
    <table class="table table-sm table-hover table-striped table-bordered caption-top">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <caption>@Title</caption>
        }
        <thead>
            <tr>
                @foreach (ConstructorFieldFormBaseLowModel fb in PageJoinForm.Form!.AllFields)
                {
                    <th scope="col" class="text-center align-middle">
                        @fb.Name
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (InUse == true && SessionQuestionnaire?.QueryCurrentTablePageFormValues(PageJoinForm.Id)?.Any() == true)
                {
                    foreach (IGrouping<uint, ValueDataForSessionOfDocumentModelDB> row in SessionQuestionnaire.RowsData(PageJoinForm.Id)!)
                    {
                        <ClientTableRowViewComponent @key=@(row) RowNum="row.Key" RowData="row.ToArray()" OpenHandle="OpenEditRowAction" DeleteHandle="DeleteRowAction" />
                    }
                }
                else
                {
                    <tr>
                        <td colspan="@(PageJoinForm.Form!.AllFields.Count())">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p>@(InUse == true ? "В таблице нет данных." : "Режим демонстрации")</p>
                                </blockquote>
                            </figure>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (InUse == true)
    {
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            @if (PageJoinForm.Form.Fields?.Any(x => x.TypeField == TypesFieldsFormsEnum.Double || x.TypeField == TypesFieldsFormsEnum.Int || x.TypeField == TypesFieldsFormsEnum.ProgramCalculationDouble) == true)
            {
                <button @onclick="() => { TableCalculationKit = !TableCalculationKit; }" class="btn btn-link oi oi-calculator" type="button"></button>
            }
            @if (SessionQuestionnaire is not null)
            {
                <button @onclick="AddRowToTable" class="btn btn-outline-primary" type="button">@(string.IsNullOrEmpty(Form.AddRowButtonTitle) ? "Добавить строку" : Form.AddRowButtonTitle)</button>
            }
        </div>
    }
    @if (TableCalculationKit)
    {
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            <button type="button" class="btn-close" aria-label="Close" @onclick="() => { TableCalculationKit = !TableCalculationKit; }"></button>
            <TableCalculationKitComponent @ref="_table_kit_ref" />
        </div>
    }
}