@inherits BlazorBusyComponentBaseModel

<li class="list-group-item">
    <div class="@(IsEdit ? "" : "d-")flex">
        @if (IsEdit)
        {
            <div class="alert alert-@(IsEdited ? "success" : "primary")" role="alert">
                <div class="vstack gap-3">
                    <div class="input-group input-group-sm">
                        @if (ElementObjectOrign is not null && ElementObjectEdit is not null && !ElementObjectOrign.Name.Equals(ElementObjectEdit.Name))
                        {
                            <span class="input-group-text" id="inputGroup-sizing-sm">Новое имя элемента</span>
                        }
                        <input @bind-value="ElementObjectEdit!.Name" @bind-value:event="oninput" type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">

                        @if (IsEdited)
                        {
                            <button @onclick="RsetEdit" disabled="@(!IsEdited)" class="btn btn-outline-primary" type="button" id="button-addon1">Сброс</button>
                            <button @onclick="UpdateElementOfDirectory" class="btn btn-outline-success" type="button" id="button-addon1">Сохранить</button>
                        }
                        <button @onclick="EditToggle" class="btn btn@(IsEdited ? "" : "-outline")-secondary" type="button" id="button-addon1">Закрыть</button>
                    </div>
                    @* TextChanged="(val_s) => { ElementObjectEdit.Description = val_s; StateHasChanged(); }" *@
                    <TinyMCE.Blazor.Editor @bind-Value="@ElementObjectEdit.Description" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="IsBusyProgress" />
                </div>
            </div>
        }
        else
        {
            <div class="flex-grow-1">
                <code title="Название">@ElementObject.Name</code>
            </div>

            @if (ParentFormsPage.CanEditProject)
            {
                <span @onclick="MoveUp" class="link-@(IsMostUp ? "secondary" : "info") bi bi-arrow-up-square@(IsMostUp ? "" : "-fill") me-2" title="Вверх"></span>
                <span @onclick="MoveDown" class="link-@(IsMostDown ? "secondary" : "info") bi bi-arrow-down-square@(IsMostDown ? "" : "-fill") me-3" title="Вниз"></span>
                <span @onclick="EditToggle" class="link-primary bi bi-pen me-2" title="Редактирование элемента"></span>
                <span @onclick="DeleteElementOfDirectory" class="link-primary bi bi-trash text-warning" title="Удаление элемента"></span>
            }
        }
    </div>
</li>