@if (SessionQuestionnaire.Id < 1)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Ошибка 2490B8C9-270C-4E84-8C3E-D5342CDC456E.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            попробуйте <cite title="F5">перезагрузить страницу</cite>
        </figcaption>
    </figure>
}
else if (SessionQuestionnaire.Owner?.Pages is null)
{
    <div class="alert alert-dark" role="alert">
        SessionQuestionnaire.Owner?.Pages is null! ошибка 58539246-ACB4-46F0-A9E9-7EF06EEE10E6
    </div>
}
else
{
    <MudDynamicTabs AddIconStyle="@AddIconStyleInUse" @ref="@DynamicTabs_ref" @bind-ActivePanelIndex="@QuestionnaireIndex" PanelClass="px-4 py-6" Elevation="4" Rounded ApplyEffectsToContainer>
        @if (!SessionQuestionnaire.Owner.Pages.Any())
        {
            <figure class="text-center mt-3">
                <blockquote class="blockquote">
                    <p>Нет ни одной страницы</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    добавьте первую <cite>страницу</cite>
                </figcaption>
            </figure>
        }
        else
        {
            if (SessionQuestionnaire.ShowDescriptionAsStartPage)
            {
                if (!string.IsNullOrWhiteSpace(SessionQuestionnaire.Description) || !string.IsNullOrWhiteSpace(SessionQuestionnaire.Owner.Description))
                {
                    <MudTabPanel ID="@int.MinValue" Text="Информация" ShowCloseIcon="@false" Icon="@Icons.Material.Filled.Info">
                        <div class="card">
                            <div class="card-body">
                                @Information
                            </div>
                        </div>
                    </MudTabPanel>

                }
            }
            @foreach (TabOfDocumentSchemeConstructorModelDB questionnaire_page in SessionQuestionnaire.Owner.Pages.OrderBy(x => x.SortIndex))
            {
                questionnaire_page.Owner ??= SessionQuestionnaire.Owner;
                if (questionnaire_page.Owner is null)
                {
                    SnackbarRepo.Add($"");
                }
                <MudTabPanel ID="@questionnaire_page.Id"
                             Text="@questionnaire_page.Name"
                             ShowCloseIcon="@(questionnaire_page.Id < 1)"
                             BadgeDot="@(questionnaire_page.Id < 1)">
                    <CascadingValue Value="questionnaire_page">
                        <PageQuestionnaireFormsViewComponent />
                    </CascadingValue>
                </MudTabPanel>
            }
        }
    </MudDynamicTabs>
    <DoneClientViewComponent />
}