@inherits BlazorBusyComponentBaseModel

<MudTable Class="d-flex flex-column flex-grow-1" Loading="IsBusyProgress" ServerData="@(new Func<TableState, Task<TableData<DocumentSchemeConstructorModelDB>>>(ServerReload))" Dense="true" Hover="true" Striped="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Анкеты</MudText>
        <MudIconButton Disabled="@(!ParentFormsPage.CanEditProject)" Title="Создать новый опрос/анкету" OnClick="() => DocumentOpenDialog()" Icon="@Icons.Material.Filled.AddBox"></MudIconButton>
        <MudSpacer />
        <MudTextField Disabled="IsBusyProgress" T="string" ValueChanged="@(async s => await OnSearch(s))" Placeholder="Поиск по имени опроса, вкладки или формы" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
        @if (ParentFormsPage.CanEditProject)
        {
            <MudTh></MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <div class="d-flex">
                <span class="flex-grow-1" @onclick="() => DocumentOpenDialog(context)" style="cursor:pointer;">
                    @context.Name
                    <sup>#@context.Id</sup>
                </span>
                @if (context.Pages is null)
                {
                    <span>error 0D40AC25-9774-4CFF-B8D7-4C9EB2F1937B</span>
                }
                else
                {
                    foreach (TabOfDocumentSchemeConstructorModelDB qp in context.Pages.OrderBy(x => x.SortIndex))
                    {
                        if (string.IsNullOrWhiteSpace(qp.Description))
                        {
                            <span class="badge bg-secondary ms-1 badge-outer-fix">@qp.Name</span>
                        }
                        else
                        {
                            <MudTooltip>
                                <ChildContent>
                                    <span class="badge bg-secondary badge-outer-fix">@qp.Name</span>
                                </ChildContent>
                                <TooltipContent>
                                    @Descr(qp.Description)
                                </TooltipContent>
                            </MudTooltip>
                        }
                    }
                }
            </div>
        </MudTd>
        @if (ParentFormsPage.CanEditProject)
        {
            <MudTd>
                <div class="hstack gap-3">
                    <div>&nbsp;</div>

                    <MudSpacer />
                    <MudIconButton Title="Удалить опрос/анкету" OnClick="() => DeleteDocument(context.Id)" Icon="@Icons.Material.Filled.Delete" aria-label="Delete" Size="Size.Small"></MudIconButton>
                </div>
            </MudTd>
        }
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Анкет/опросов нет</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>