<div dom-guid="{1C583238-E963-4691-8882-24FFF2D8D5DE}" class="col-auto">
    <select title="Тип добавляемого поля" @bind="SelectedTypeFieldForAdding" class="form-select" name="adding-new-field-to-form" id="adding-new-field-to-form">
        <option value="0" disabled="@(SelectedTypeFieldForAdding > 0)">Выбор типа поля...</option>
        @foreach (TypesFieldsFormsEnum tf in Enum.GetValues(typeof(TypesFieldsFormsEnum)))
        {
            <option class="@(tf == TypesFieldsFormsEnum.ProgrammCalcDouble ? "text-primary" : (tf == TypesFieldsFormsEnum.Generator ? "text-info" : ""))" value="@((int)tf)">@tf.DescriptionInfo()</option>
        }
        <option class="text-success" value="@int.MaxValue">Список/Справочник</option>
    </select>
</div>
@if (SelectedTypeFieldForAdding < 1)
{
    <div class="col-auto">
        <span class="form-text">
            Для добавления нового поля - укажите его тип
        </span>
    </div>
}
else
{
    switch (SelectedTypeFieldForAdding)
    {
        case int.MaxValue:
            <div class="col-auto">
                <DirectoryFieldFormUIComponent @ref="FieldDirUI" FieldObject="FieldObjectForDirectory" />
            </div>
            break;
        case (int)TypesFieldsFormsEnum.Text:
            <TextFieldFormUIComponent @ref="FieldTextUI" FieldObject="FieldObjectStandard" />
            break;
        case (int)TypesFieldsFormsEnum.ProgrammCalcDouble:
            <div class="col-auto">
                <ProgramCalculationFieldFormUIComponent @ref="FieldProgramCalculationDouble" FieldObject="FieldObjectStandard" />
            </div>
            break;
        case (int)TypesFieldsFormsEnum.Generator:
            <div class="col-auto">
                <GeneratorFieldFormUIComponent @ref="FieldGeneratorUI" FieldObject="FieldObjectStandard" />
            </div>
            break;
    }

    <div class="col-auto">
        <input @bind-value="FieldName" @bind-value:event="oninput" placeholder="Название" type="text" id="inputName" class="form-control">
    </div>

    @if (SelectedTypeFieldForAdding != (int)TypesFieldsFormsEnum.ProgrammCalcDouble)
    {
        <div dom-guid="{A10A03CC-0488-41AF-B025-646A3EEA5128}" class="col-auto">
            <div class="form-check form-switch mt-2">
                <input @bind="FieldIsRequired" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Обязательный</label>
            </div>
        </div>
    }
}