@page "/helpdesk/telegram-chat-page/{ChatId:int}"
@attribute [Authorize(Roles = $"{GlobalStaticConstants.Roles.Admin},{GlobalStaticConstants.Roles.HelpDeskTelegramBotManager},{GlobalStaticConstants.Roles.HelpDeskTelegramBotUnit}")]

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using BlazorWebLib.Components.Telegram
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else if (Chat is null)
{
    <div class="alert alert-primary" role="alert">
        Не указан чат!
    </div>
}
else
{
    @if (Chat.UsersJoins!.Count > 1)
    {
        <h5 class="card-title">
            Участники:
            @foreach (JoinUserChatModelDB uj in Chat.UsersJoins)
            {
                <span class="badge rounded-pill text-bg-primary mx-1">@uj.User!.FirstName @uj.User.LastName@(string.IsNullOrWhiteSpace(uj.User.Username) ? "" : $" @{uj.User.Username}")</span>
            }
        </h5>
        <hr />
    }

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
        <MudTabPanel Text="Чат">
            <TelegramChatWrapComponent Chat="Chat" />
        </MudTabPanel>
        <MudTabPanel Disabled="@(CurrentUser is null)" Text="Обращения">
            <CascadingValue Value="SetTab">
                <TabSetComponent IsSilent="true" AsPills="true">
                    <TabComponent SystemName="@(nameof(HelpdeskJournalModesEnum.ActualOnly))" Title="Открытые">
                        <HelpdeskJournalComponent UserIdentityId="@CurrentUser!.UserIdentityId" UserArea="UsersAreasHelpdeskEnum.Author" JournalMode="HelpdeskJournalModesEnum.ActualOnly" />
                    </TabComponent>
                    <TabComponent SystemName="@(nameof(HelpdeskJournalModesEnum.ArchiveOnly))" Title="Завершённые">
                        <HelpdeskJournalComponent UserIdentityId="@CurrentUser!.UserIdentityId" UserArea="UsersAreasHelpdeskEnum.Author" JournalMode="HelpdeskJournalModesEnum.ArchiveOnly" />
                    </TabComponent>
                    <TabComponent SystemName="@(nameof(HelpdeskJournalModesEnum.All))" Title="Все">
                        <HelpdeskJournalComponent UserIdentityId="@CurrentUser!.UserIdentityId" UserArea="UsersAreasHelpdeskEnum.Author" JournalMode="HelpdeskJournalModesEnum.All" />
                    </TabComponent>
                </TabSetComponent>
            </CascadingValue>
            <CreateIssueComponent Update="Update" UserIdentityId="@CurrentUser!.UserIdentityId" />
        </MudTabPanel>
        <MudTabPanel Disabled="@(CurrentUser is null)" Text="Настройки">
            <ChatSettingsHelpdeskComponent Chat="Chat" />
        </MudTabPanel>
    </MudTabs>
}