@page "/issue-card/{Id:int}"

@using BlazorWebLib.Components.Commerce
@using BlazorWebLib.Components.Helpdesk.issue
@using MudBlazor

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]
@inherits BlazorBusyComponentBaseAuthModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
}
else
{
    <div class="container-fluid">
        <div class="row">
            @if (IssueSource is null)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Обращение не найдено.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Либо недостаточно прав на просмотр этого документа
                    </figcaption>
                </figure>
            }
            else
            {
                <CascadingValue Value="CanEdit">
                    <CascadingValue Value="IssueSource">
                        <CascadingValue Value="UsersIdentityDump">
                            <div class="col-sm-9">
                                <div class="vstack gap-3">
                                    <div>
                                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
                                            @if (OrdersJournal is not null && OrdersJournal.Length != 0)
                                            {
                                                <MudTabPanel Text="@($"Заказ{(OrdersJournal.Length == 1 ? "" : "ы")}")">
                                                    <OrdersListComponent Orders="OrdersJournal" />
                                                </MudTabPanel>
                                            }
                                            @if (OrdersAttendancesJournal is not null && OrdersAttendancesJournal.Length != 0)
                                            {
                                                <MudTabPanel Text="@($"Услуг{(OrdersAttendancesJournal.Length == 1 ? "а" : "и")}")">
                                                    <OrdersAttendancesListComponent OrdersAttendances="OrdersAttendancesJournal" />
                                                </MudTabPanel>
                                            }
                                            @if (CurrentUserSession!.IsAdmin)
                                            {
                                                <MudTabPanel Text="Заявка">
                                                    <IssueBodyComponent />
                                                </MudTabPanel>
                                            }
                                            <MudTabPanel Text="Сообщения">
                                                <IssueMessagesComponent />
                                            </MudTabPanel>
                                            <MudTabPanel Text="Хроника">
                                                <PulseJournalComponent />
                                            </MudTabPanel>
                                            @if (ShowingAttachmentsIssueArea)
                                            {
                                                <MudTabPanel Text="Файлы">
                                                    <FilesContextViewComponent ApplicationsNames="@([GlobalStaticConstants.Routes.ISSUE_CONTROLLER_NAME])"
                                                                               PropertyName="@GlobalStaticConstants.Routes.ATTACHMENT_CONTROLLER_NAME"
                                                                               PrefixPropertyName="@GlobalStaticConstants.Routes.USER_CONTROLLER_NAME"
                                                                               OwnerPrimaryKey="Id"
                                                                               Title="Файлы"
                                                                               ManageMode="true" />
                                                </MudTabPanel>
                                            }
                                        </MudTabs>
                                    </div>
                                    <AuthorizeView Roles="@GlobalStaticConstants.Roles.Admin">
                                        <Authorized>
                                            @if (ShowingWappiArea && UsersIdentityDump.Any(x => !string.IsNullOrWhiteSpace(x.PhoneNumber) && GlobalTools.IsPhoneNumber(x.PhoneNumber)))
                                            {
                                                <ChatsWappiIssueComponent />
                                            }
                                            @if (ShowingTelegramArea && UsersIdentityDump.Any(x => x.TelegramId.HasValue))
                                            {
                                                <ChatsTelegramIssueComponent />
                                            }
                                        </Authorized>
                                    </AuthorizeView>
                                </div>
                            </div>
                            <div class="col-sm-3"><IssuePanelComponent /></div>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            }
        </div>
    </div>
}