@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Услуга</th>
            <th>Исполнитель</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RecordsAttendanceModelDB row in OrdersAttendances.OrderBy(x => x.DateExecute).ThenBy(x => x.StartPart))
        {
            <tr title="создан: @row.CreatedAtUTC.GetHumanDateTime()" @key="@($"row:{row.Id}")">
                <td>@row.DateExecute</td>
                <td>@row.StartPart - @row.EndPart</td>
                <td>
                    @row.Offer?.GetName()
                    <sup>@row.Nomenclature?.Name</sup>
                </td>
                <td>@row.Organization?.Name</td>
                <td>
                    @if (CanDeleteRecord(row))
                    {
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button disabled="@IsBusyProgress" @onclick="async () => await DeleteRecord(row)" type="button" class="btn btn-link @(_initDeleteOrder == row.Id ? "link-danger" : "")">@(_initDeleteOrder == row.Id ? "подтвердить удаление" : "удалить")</button>
                            @if (_initDeleteOrder == row.Id)
                            {
                                <button @onclick="() => _initDeleteOrder = null" type="button" class="btn btn-link">отмена</button>
                            }
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>