@page "/Account/Manage"
@inherits BlazorBusyComponentBaseAuthModel
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IdentityRedirectManager RedirectManager
@inject IUsersProfilesService UsersProfilesRepo

<PageTitle>Профиль</PageTitle>
<h3>Профиль</h3>
<StatusMessage Messages="@Messages" />
<div class="row">
    <div class="col-md-6">
        <div>
            <div class="form-floating mb-3">
                <input type="text" value="@username" id="username" class="form-control" placeholder="Пожалуйста, введите ваш логин." disabled />
                <label for="username" class="form-label">Имя пользователя</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" @bind-value="@firstName" @bind-value:event="oninput" id="first-name" class="form-control" placeholder="FirstName" />
                <label for="first-name" class="form-label">FirstName</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" @bind-value="lastName" @bind-value:event="oninput" id="last-name" class="form-control" placeholder="LastName" />
                <label for="last-name" class="form-label">LastName</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" @bind-value="phoneNum" @bind-value:event="oninput" id="phone-num" class="form-control" placeholder="Phone number" />
                <label for="phone-num" class="form-label">Phone</label>
            </div>
            <button disabled="@(!IsEdited)" @onclick="SaveAsync" type="button" class="w-100 btn btn-lg btn-@(IsEdited?"primary":"outline-secondary")">Сохранить</button>
        </div>
    </div>
</div>