@inherits BlazorBusyComponentBaseModel

<div class="hstack">
    <span title="Рубрика: @Issues[0].RubricIssue!.Name" class="badge text-bg-info mx-1">@Issues[0].Name</span>
    @if (Issues.Length > 1)
    {
        if (IsExpand)
        {
            foreach (IssueHelpdeskModel iss in Issues.Skip(1))
            {
                <span title="Рубрика: @iss.RubricIssue!.Name" class="badge text-bg-info mx-1">@iss.Name</span>
            }
        }
        else
        {
            <i @onclick="() => IsExpand = true" title="Развернуть" class="issues-for-chat-info">
                (+ @(Issues.Length - 2))
            </i>
        }
    }
</div>