@inherits IssueWrapBaseModel
@attribute [Authorize]

<div class="vstack gap-3">
    <div class="px-1">
        <CascadingValue Value="@(CurrentUserSession!.IsAdmin)">
            <StatusIssueComponent />
        </CascadingValue>
    </div>
    <AuthorizeView Roles="@($"{string.Join(",",GlobalStaticConstants.Roles.AllHelpDeskRoles)},{GlobalStaticConstants.Roles.Admin}")">
        <Authorized>
            <div class="px-1"><SubscribersIssueComponent /></div>
            <hr />
            <div class="px-1">
                <TagsViewComponent ApplicationsNames="@([GlobalStaticConstants.Routes.ISSUE_CONTROLLER_NAME])"
                                   ManageMode="true"
                                   PrefixPropertyName="@GlobalStaticConstants.Routes.DEFAULT_CONTROLLER_NAME"
                                   PropertyName="@GlobalStaticConstants.Routes.METADATA_CONTROLLER_NAME"
                                   Title="Теги"
                                   OwnerPrimaryKey="@CurrentIssue.Id" />
            </div>
        </Authorized>
    </AuthorizeView>
    <div class="px-1"><AboutIssueComponent /></div>
</div>

@code {
    [CascadingParameter, EditorRequired]
    public required IssueHelpdeskModelDB CurrentIssue { get; set; }
}