@using Newtonsoft.Json
@inherits BlazorBusyComponentBaseModel

<div class="hstack">
    @{
        IssueHelpdeskModel[] qcr = Issues.OrderBy(x => x.Id).ToArray();
        IssueHelpdeskModel cr = qcr.First();
    }
    <span title="Рубрика: @cr.RubricIssue?.Name" class="badge text-bg-info m-1">@cr.Name</span>
    @if (Issues.Length > 1)
    {
        if (IsExpand)
        {
            foreach (IssueHelpdeskModel iss in qcr.Skip(1))
            {
                <span title="Рубрика: @iss.RubricIssue?.Name" class="badge text-bg-info mx-1">@iss.Name</span>
            }
        }
        else
        {
            <i @onclick="() => IsExpand = true" title="Развернуть" class="issues-for-chat-info">
                (+ @(Issues.Length - 2))
            </i>
        }
    }
</div>