@using MudBlazor
@inherits IssueWrapBaseModel

@if (IsCreatingNewMessage)
{
    <p class="lead">
        Новое сообщение.
    </p>
}

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}

<div class="card position-relative mt-1">
    @if (Message is not null && Message.Id > 0)
    {
        <div class="position-absolute top-0 start-0 m-2 bi bi-send-fill font-monospace text-@_currentType.DescriptionInfo()">
            &nbsp;@(Message.AuthorUserId == GlobalStaticConstants.Roles.System ? "Система" : (this.UsersIdentityDump?.FirstOrDefault(x => x.UserId == Message.AuthorUserId)?.UserName ?? Message.AuthorUserId))@(Message.AuthorUserId == CurrentUserSession!.UserId ? " - Вы" : "")
        </div>
        @if (!IsEditMode && Message.AuthorUserId == CurrentUserSession!.UserId)
        {
            <div @onclick="() => IsEditMode = true" style="cursor:pointer;" class="position-absolute top-0 end-0 m-2"><i class="bi bi-pencil-square"></i></div>
        }
    }
    <div class="card-body mt-@(IsEditMode ? "4" : "3")">
        @if (IsEditMode)
        {
            if (Message is null || Message.Id < 1)
            {
                <span @onclick="Cancel" title="Отмена" class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning bi bi-x-circle-fill p-1" style="font-size: large;cursor:pointer;"><span class="visually-hidden">unread messages</span></span>
            }
            <TinyMCE.Blazor.Editor @bind-Value="textMessage" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="@(IsBusyProgress)" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <button @onclick="SaveMessage" disabled="@(!canSave || IsBusyProgress)" class="btn btn-@(!canSave ? "outline-secondary" : "success") me-md-2 btn-sm" type="button">@(IsCreatingNewMessage ? "Отправить" : "Сохранить")</button>
                <button @onclick="Cancel" disabled="@IsBusyProgress" class="btn btn-primary btn-sm" type="button">Отмена</button>
            </div>
        }
        else
        {
            
            <iframe id="@($"frame:{_guid}")" srcdoc="@($"<html lang=\"ru\" data-bs-theme=\"dark\"><head>" +
                "<meta charset=\"utf-8\">" +
                "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">" +
                "<link href=\"_content/MudBlazor/MudBlazor.min.css\" rel=\"stylesheet\">" +
                $"<link rel=\"stylesheet\" href=\"/lib/bootstrap-icons/font/bootstrap-icons.min.css?version={GlobalStaticConstants.InitSalt}\">" +
                $"<link rel=\"stylesheet\" href=\"/lib/jqueryui/jquery-ui.min.css?version={GlobalStaticConstants.InitSalt}\">" +
                $"<link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css?version={GlobalStaticConstants.InitSalt}'>" +
                $"</head><body id='{_guid}'><div id='body-wrap-area'>{DescriptionHtml}</div>" +
                $"<script src=\"/lib/jquery/jquery.min.js?version={GlobalStaticConstants.InitSalt}\"></script>" +
                "</body></html>")" />
        }
    </div>
</div>