@using MudBlazor
@inherits IssueWrapBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}

<MudSelect ReadOnly="@(!CanEdit || IsBusyProgress)" @bind-Value="IssueStep" T="StatusesDocumentsEnum" Label="Статус" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @foreach (StatusesDocumentsEnum step in Steps())
    {
        <MudSelectItem Class="@(step == Issue.StatusDocument ? "text-success fw-bold" : "")" T="StatusesDocumentsEnum" Value="@step">
            @step.DescriptionInfo()
        </MudSelectItem>
    }
</MudSelect>

@if (IssueStep != Issue.StatusDocument)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Изменение статуса.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Подтверждаете <cite>смену состояния?</cite>
        </figcaption>
    </figure>
    <div class="d-grid gap-2">
        <button disabled="@(!CanEdit || IsBusyProgress)" @onclick="SaveChange" class="btn btn-outline-primary" type="button">Подтвердить</button>
        <button disabled="@(!CanEdit || IsBusyProgress)" @onclick="() => IssueStep = Issue.StatusDocument" class="btn btn-outline-info" type="button">Отмена</button>
    </div>
}