@attribute [Authorize]
@inherits IssueWrapBaseModel

<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">@Author.UserName</h5>
        <button @onclick="CloseAction" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">TelegramBot уведомления</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Переадресация входящих сообщений</h6>
                <NotificationTelegramIssueConfigComponent Title="Общее правило для клиента" Hint="Действует для клиента в общем, но может быть переопределено в обращении" />
                <NotificationTelegramIssueConfigComponent Title="Для обращения (приоритетное)" Hint="Временное правило пока этот инцидент не завершён (переопределяет общее для клиента)" />
            </div>
        </div>

        <NoteSimpleComponent ApplicationName="@GlobalStaticConstants.Routes.HELPDESK_CONTROLLER_NAME"
                             TypeName="@GlobalStaticConstants.Routes.STORAGE_CONTROLLER_NAME"
                             Name="@GlobalStaticConstants.Routes.NOTES_CONTROLLER_NAME"
                             PrefixPropertyName="@($"{Author.UserName}")"
                             Label="О клиенте (в общем)"
                             Hint="Единый параметр для всех сотрудников" />

        <NoteSimpleComponent ApplicationName="@GlobalStaticConstants.Routes.HELPDESK_CONTROLLER_NAME"
                             TypeName="@GlobalStaticConstants.Routes.STORAGE_CONTROLLER_NAME"
                             Name="@Path.Combine(GlobalStaticConstants.Routes.NOTES_CONTROLLER_NAME, GlobalStaticConstants.Routes.DOCUMENTS_CONTROLLER_NAME)"
                             PrefixPropertyName="@CurrentUser.UserId"
                             OwnerPrimaryKey="Issue.Id"
                             Label="О заявке (приватно)"
                             Hint="Ваш личный (ни кому не видный) комментарий непосредственно к этому обращению"
                             ColorTheme="BootstrapColorsStylesEnum.Warning" />
    </div>
</div>
<div @onclick="CloseAction" class="offcanvas-backdrop fade show"></div>