@inherits FormBaseModel

<div class="card mb-2">
    <div class="card-body">
        <div class="@FormMetadata.Css" title="@(string.IsNullOrWhiteSpace(FormMetadata.Description) ? "" : string.Join(" ", GlobalTools.DescriptionHtmlToLinesRemark(FormMetadata.Description)))">
            @{
                int i = -1;
            }
            @foreach (BaseRequiredFormFitModel field in FormMetadata.AllFields)
            {
                i++;
                <div class="@field.Css" title="@(string.IsNullOrWhiteSpace(field.Description) ? "" : string.Join(" ", GlobalTools.DescriptionHtmlToLinesRemark(field.Description)))">
                    @if (field is FieldFitModel bf)
                    {
                        switch (bf.TypeField)
                        {
                            case TypesFieldsFormsEnum.Bool:
                                <CheckBoxComponent IsChecked="BoolSimpleValue(bf)" IsCheckedChanged="(e) => SetSimpleFieldBoolValue(bf, e)" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.Int:
                                <IntMudFieldComponent Value="IntSimpleValue(bf)" ValueChanged="(e) => SetSimpleFieldIntValue(bf, e)" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.Double:
                                <DoubleMudFieldComponent Value="DoubleSimpleValue(bf)" ValueChanged="(e) => SetSimpleFieldDoubleValue(bf, e)" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.DateTime:
                                <DateTimeMudComponent Value="DateTimeSimpleValue(bf)" ValueChanged="(e) => SetSimpleFieldDateTimeValue(bf, e)" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.Date:
                                <DateMudComponent Value="DateOnlySimpleValue(bf)" ValueChanged="(e) => SetSimpleFieldDateOnlyValue(bf, e)" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.Time:
                                <TimeMudComponent Value="TimeOnlySimpleValue(bf)" ValueChanged="(e) => SetSimpleFieldTimeOnlyValue(bf, e)" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.Text or TypesFieldsFormsEnum.Password:
                                <TextMudComponent Value="@StringSimpleValue(bf)" ValueChanged="(e) => SetSimpleFieldStringValue(bf, e)" AsPassword="bf.TypeField == TypesFieldsFormsEnum.Password" Label="@bf.Name" Hint="@bf.Description" Id="@GetFieldDomId(bf)" Required="@bf.Required" />
                                break;
                            case TypesFieldsFormsEnum.ProgramCalculationDouble:
                                <div class="alert alert-primary" role="alert">
                                    TypesFieldsFormsEnum.ProgramCalculationDouble
                                </div>
                                break;
                            case TypesFieldsFormsEnum.Generator:
                                <div class="alert alert-primary" role="alert">
                                    TypesFieldsFormsEnum.Generator
                                </div>
                                break;
                            default:
                                <div class="alert alert-danger" role="alert">
                                    Не известный вид поля: @bf.TypeField
                                </div>
                                break;
                        }
                    }
                    else if (field is FieldAkaDirectoryFitModel df)
                    {
                        if (df.IsMultiSelect)
                        {
                            <SelectFieldMudMultiselectComponent Label="@df.Name" Hint="@df.Description" Id="@GetFieldDomId(df)" Required="@df.Required" Value="DictsValue(df)" ValueChanged="(e) => SetDictsFieldValue(df, e)" />
                        }
                        else
                        {
                            <SelectFieldMudComponent Label="@df.Name" Hint="@df.Description" Id="@GetFieldDomId(df)" Required="@df.Required" Value="DictValue(df)" ValueChanged="(e) => SetDictFieldValue(df, e)" />
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Не известный тип поля: @field.GetType().FullName
                        </div>
                    }
                </div>
            }
        </div>
        @if (IsEdited)
        {
            <div class="btn-toolbar justify-content-end" role="toolbar">
                <div class="btn-group btn-group-sm" role="group">
                    <button @onclick="SaveForm" type="button" class="btn btn-outline-primary">Сохранить...</button>
                    <button @onclick="ResetForm" type="button" class="btn btn-outline-primary">Отмена</button>
                </div>
            </div>
        }
    </div>
</div>