@inherits BlazorBusyComponentBaseModel

<tr>
    <th scope="row" class="@(ProjectRow.IsDisabled ? "text-decoration-line-through" : "")">
        <code class="@(ProjectRow.IsDisabled ? "text-secondary" : "")" title="Системное имя проекта">@ProjectRow.SystemName</code> <span title="">@ProjectRow.Name</span>
    </th>
    <td>
        @if (ProjectRow.Members is null || ProjectRow.Members.Count == 0)
        {
            <span class="invisible">участников нет</span>
        }
        else
        {
            @($"{string.Join("; ", ProjectRow.Members.Select(x => x.Name))};")
        }
    </td>
    <td>
        @if (ProjectRow.Id == ParentFormsPage.MainProject?.Id)
        {
            <MudIcon Class="ms-2" Icon="@Icons.Material.Filled.Api" Size="Size.Small" Title="Основной/используемый проект контекста" Color="Color.Secondary"></MudIcon>
        }
        else
        {
            <MudIconButton Class="ms-2" Icon="@Icons.Material.Filled.Api" Size="Size.Small" Title="Сделать основным" OnClick="SetMainProjectHandle"></MudIconButton>
        }
        @if (ParentFormsPage.CurrentUser.UserId == ProjectRow.OwnerUserId)
        {
            <MudIconButton Icon="@(ProjectRow.IsDisabled ? Icons.Material.Filled.FlashOff : Icons.Material.Filled.FlashOn)" aria-label="delete" Size="Size.Small" Title="@(ProjectRow.IsDisabled? "Включение проекта":"Отключение проекта")" OnClick="DeleteProject"></MudIconButton>
            <MudIconButton Class="ms-2" Icon="@Icons.Material.Filled.Edit" aria-label="edit" Size="Size.Small" Title="Редактирование проекта" OnClick="EditProject"></MudIconButton>
        }
    </td>
</tr>