@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2">
        <div class="hstack gap-3">
            <MudTextField Format="yyyy-MM-dd" Label="Дата" InputType="InputType.Date" @bind-Value="WorkScheduleDate" Immediate="true" />
            <MudTextField T="TimeSpan" Label="Начало" InputType="InputType.Time" @bind-Value="editWorkScheduleCalendar.StartPart" Immediate="true" />
            <MudTextField T="TimeSpan" Label="Конец" InputType="InputType.Time" @bind-Value="editWorkScheduleCalendar.EndPart" Immediate="true" />
            <MudTextField @bind-Value="editWorkScheduleCalendar.Name" Label="Примечание" Variant="Variant.Text" Immediate="true" />
            <MudNumericField title="0 - безлимитное" T="uint" @bind-Value="editWorkScheduleCalendar.QueueCapacity" Label="Вместимость" Variant="Variant.Text" Min="0" Immediate="true" />
            <MudSwitch @bind-Value="editWorkScheduleCalendar.IsDisabled" ThumbIcon="@(editWorkScheduleCalendar.IsDisabled ? Icons.Material.Filled.Close : Icons.Material.Filled.Done)" ThumbIconColor="@(editWorkScheduleCalendar.IsDisabled ? Color.Error : Color.Success)">@(editWorkScheduleCalendar.IsDisabled ? "Отключено" : "Включено")</MudSwitch>
        </div>
    </div>
    <MudSpacer />
    <MudFab Disabled="!IsEdited" Color="IsEdited ? Color.Success : Color.Surface" StartIcon="@Icons.Material.Filled.Save" OnClick="SaveScheduleCalendar" />
    @if (IsEdited)
    {
        <MudFab Color="Color.Surface" EndIcon="@Icons.Material.Filled.Cancel" Class="mx-1" OnClick="() => editWorkScheduleCalendar = GlobalTools.CreateDeepCopy(WorkScheduleCalendar)!" />
    }
    @* <span class="badge text-bg-danger rounded-pill">0</span> *@
</li>