@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        <MudTabs AlwaysShowScrollButtons="true" Elevation="4" Rounded="true" Color="@Color.Primary">
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Monday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Monday" />
            </MudTabPanel>
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Tuesday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Tuesday" />
            </MudTabPanel>
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Wednesday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Wednesday" />
            </MudTabPanel>
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Thursday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Thursday" />
            </MudTabPanel>
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Friday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Friday" />
            </MudTabPanel>
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Saturday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Saturday" />
            </MudTabPanel>
            <MudTabPanel Text="@GlobalStaticConstants.RU.DateTimeFormat.GetDayName(DayOfWeek.Sunday)">
                <WorkSchedulesOfWeekdayComponent Weekday="DayOfWeek.Sunday" />
            </MudTabPanel>
        </MudTabs>
    </div>
</div>