@using MudBlazor
@using System.Globalization
@inherits BlazorBusyComponentBaseModel

<style>
    .links-for-files-messages i > u {
        cursor: pointer;
    }
</style>

<MudTable @ref="TableRef" ServerData="ServerReload" Dense="true" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Сообщения (Telegram)</MudText>
        <MudSpacer />
        <MudTextField Immediate="true" @bind-Value="SearchStringQuery" Placeholder="Поиск по тексту" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="@(nameof(MessageTelegramModelDB.CreatedAtUtc))" T="MessageTelegramModelDB">Дата</MudTableSortLabel></MudTh>
        <MudTh>From</MudTh>
        @if (ShowDestinationChat)
        {
            <MudTh>To</MudTh>
        }
        <MudTh>Caption</MudTh>
        <MudTh>Text</MudTh>
        <MudTh>Files</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Создан">
            <span data-cd="@context.CreatedAtUtc">
                @context.CreatedAtUtc.GetCustomTime().ToString("d", CultureInfo.GetCultureInfo("ru-RU")) <sup>@context.CreatedAtUtc.GetCustomTime().ToString("t", CultureInfo.GetCultureInfo("ru-RU"))</sup>
            </span>
        </MudTd>
        <MudTd DataLabel="From">
            @if (context.From is null || context.From.IsBot || context.From.Id == ChatId)
            {
                <span>@context.From!.GetName()</span>
            }
            else
            {
                <a href="/telegram-bot/chat-page/@context.From.Id">@context.From!.GetName()</a>
            }
        </MudTd>
        @if (ShowDestinationChat)
        {
            <MudTd DataLabel="To">
                @if (context.Chat is null || context.Chat.IsForum == true || context.Chat.Id == ChatId)
                {
                    <span>@context.Chat?.ToString()</span>
                }
                else
                {
                    <a href="/telegram-bot/chat-page/@context.Chat?.Id">@context.Chat?.ToString()</a>
                }
            </MudTd>
        }
        <MudTd DataLabel="Caption">
            @context.Caption
            @if (context.Contact is not null)
            {
                <span class="badge text-bg-primary">
                    @context.Contact.FirstName |
                    @context.Contact.LastName |
                    @context.Contact.PhoneNumber |
                    @context.Contact.Vcard
                </span>
            }
        </MudTd>
        <MudTd DataLabel="Text">@context.Text</MudTd>
        <MudTd DataLabel="Files">
            <FilesForMessageComponent Message="context" />
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Сообщения не найдены</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager AllItemsText="Все сообщения" />
    </PagerContent>
</MudTable>
