@using MudBlazor
@inherits BlazorBusyComponentRubricsCachedModel

<MudTable ServerData="ServerReload" Dense="true" Hover="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Поступления</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel  T="WarehouseDocumentModelDB">Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortDirection="SortDirection.Ascending" SortLabel="Name" T="WarehouseDocumentModelDB">Примечание</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel  T="WarehouseDocumentModelDB">Доставка</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="WarehouseDocumentModelDB">Warehouse</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel  T="WarehouseDocumentModelDB">Создан/Обновлён</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id"><a href="/goods/warehouse/editing/@(context.Id)">@context.Id</a></MudTd>
        <MudTd DataLabel="Примечание"><a href="/goods/warehouse/editing/@(context.Id)">@context.Name</a></MudTd>
        <MudTd DataLabel="Доставка">@context.DeliveryDate.GetHumanDateTime()</MudTd>
        <MudTd DataLabel="Warehouse">@(RubricsCache.FirstOrDefault(x => x.Id == context.WarehouseId)?.Name ?? context.WarehouseId.ToString())</MudTd>
        <MudTd DataLabel="About">@context.CreatedAtUTC.GetHumanDateTime()/@context.LastAtUpdatedUTC.GetHumanDateTime()</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Данные отсутствуют</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<div class="d-grid gap-2 mt-3">
    <a class="btn btn-primary" href="/goods/warehouse/editing" role="button">Создать новый документ</a>
</div>