@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<MudTable ServerData="ServerReload" Dense="true" Hover="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Складские документы</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="Id" T="WarehouseDocumentModelDB">Id</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="Name" T="WarehouseDocumentModelDB">Примечание</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="DeliveryData" T="WarehouseDocumentModelDB">Доставка</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="About" T="WarehouseDocumentModelDB">Создан/Обновлён</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id"><a href="/warehouse/editing/@(context.Id)">@context.Id</a></MudTd>
        <MudTd DataLabel="Примечание"><a href="/warehouse/editing/@(context.Id)">@context.Name</a></MudTd>
        <MudTd DataLabel="Доставка">@context.DeliveryData.GetHumanDateTime()</MudTd>
        <MudTd DataLabel="About">@context.CreatedAtUTC.GetHumanDateTime()/@context.LastAtUpdatedUTC.GetHumanDateTime()</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Данные отсутствуют</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<div class="d-grid gap-2 mt-3">
    <a class="btn btn-primary" href="/warehouse/editing" role="button">Создать новый документ</a>
</div>