@page "/Users/Roles"
@attribute [Authorize(Roles = GlobalStaticConstants.Roles.Admin)]

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Роли</PageTitle>

<h3>
    Роли
    @if (UserInfo is not null)
    {
        <text> пользователя: @UserInfo.Email</text>
    }
</h3>
<StatusMessage Messages="@Messages" />

<div class="row">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">
            @(UserInfo is null ? "Новая" : "Добавить") роль
            Новая роль
        </span>
        <input @bind-value="added_role_name" @bind-value:event="oninput" type="text" class="form-control" aria-label="Имя создаваемой роли">
        <button disabled="@(string.IsNullOrWhiteSpace(added_role_name))" @onclick="AddNewRole" class="btn btn-outline-secondary" type="button">
            @(UserInfo is null ? "Создать новую роль" : "Добавить роль пользователю")
        </button>
    </div>
    <div class="grid">
        <QuickGrid ItemsProvider="@foodRecallProvider" Pagination="@pagination" @ref="myGrid">
            <TemplateColumn Title="Роль">
                <NavLink href="@($"/Users/Roles/view-{context.Id}")">@context.Name</NavLink>
            </TemplateColumn>
            <TemplateColumn Align="Align.Right">
                <div class="hstack">
                    <div title="Количество участников в группе" class="px-2">@context.UsersCount</div>
                    <div class="px-2">
                        <span @onclick="() => DeleteRole(context.Name)" title="@(UserInfo is null ? "удалить роль" : "исключить пользователя из роли")" class="my-btn badge text-bg-danger">
                            @(UserInfo is null ? "удалить" : "исключить")
                        </span>
                    </div>
                </div>
            </TemplateColumn>
        </QuickGrid>
        <Paginator State="@pagination" />
    </div>
</div>