@using BlazorWebLib.Components.Helpdesk.console
@using MudBlazor
@using BlazorWebLib.Components

@inherits BlazorBusyComponentBaseModel

<style>
    .size-console-change span.text-secondary {
        cursor: pointer;
    }

        .size-console-change span.text-secondary:hover {
            text-decoration: underline dotted;
        }
</style>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Консоль
            <sup class="size-console-change">
                <span @onclick="async () =>{ if (IsLarge) { await ToggleSize(); } }" title="@(IsLarge ? "включён крупный режим. включить мелкий?" : "включён мелкий режим")" class="@(IsLarge ? "text-secondary" : "text-primary text-decoration-underline")">мелко</span> | <span @onclick="async () =>{ if (!IsLarge) { await ToggleSize(); } }" title="@(IsLarge ? "включён крупный режим" : "включён мелкий режим. включить крупный?")" class="@(IsLarge ? "text-primary text-decoration-underline" : "text-secondary")">крупно</span>
            </sup>
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Обзор обращений по статусам</h6>
        <div class="container-fluid">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
                <div class="d-flex justify-content-between my-2">
                    <MudFab Disabled="@(stepNum == 0)" OnClick="() => { stepNum--; }" Color="Color.Primary" StartIcon="@Icons.Material.Filled.KeyboardArrowLeft" Size="Size.Small" />
                    <UserSelectInputComponent SelectHandleAction="SelectUserHandler" SelectedUser="@FilterUserId" />
                    <MudFab Disabled="@(stepNum >= Steps.Count - (IsLarge ? 4 : 6))" OnClick="() => { stepNum++; }" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.KeyboardArrowRight" Size="Size.Small" />
                </div>

                @foreach (HelpdeskIssueStepsEnum s in Steps.Skip(stepNum).Take(IsLarge ? 4 : 6))
                {
                    <div @key="@s.ToString()" class="col-12 col-md-@(IsLarge ? "3" : "2")">
                        <ConsoleSegmentColumnComponent StepIssue="s" IsLarge="IsLarge" UserFilter="@FilterUserId" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>