@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<MudTable @ref="TableRef" ServerData="ServerReload" Dense="true" Hover="true" Loading="IsBusyProgress">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Диалоги</MudText>
        <MudSpacer />
        <MudTextField T="string" Clearable="true" ValueChanged="@(s => OnSearch(s))" title="Без учёта регистра" Placeholder="Поиск по теме обращения и имени рубрики" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="CreatedAt" T="IssueHelpdeskModel">Создан</MudTableSortLabel></MudTh>
        <MudTh>Статус</MudTh>
        <MudTh>Тема</MudTh>
        <MudTh>Рубрика</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Создан"><a href="@($"/issue-card/{context.Id}")">@context.CreatedAt.ToShortDateString()<sup>@context.CreatedAt.ToShortTimeString()</sup></a></MudTd>
        <MudTd DataLabel="Статус">@context.StepIssue.DescriptionInfo()</MudTd>
        <MudTd DataLabel="Тема">@context.Name</MudTd>
        <MudTd DataLabel="Рубрика">@context.RubricIssue?.Name</MudTd>
        <MudTd></MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Ни одной записи не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка данных...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>