@inherits BlazorBusyComponentBaseAuthModel

@using MudBlazor
@using System.Globalization

<MudTable @ref="TableRef" ServerData="ServerReload" Dense="true" Hover="true" Loading="IsBusyProgress">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Заявки</MudText>
        <MudSpacer />
        <MudTextField T="string" Clearable="true" ValueChanged="@(s => OnSearch(s))" title="Без учёта регистра" Placeholder="Поиск по теме обращения и имени рубрики" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="@(nameof(IssueHelpdeskModel.CreatedAtUTC))" T="IssueHelpdeskModel">Создан</MudTableSortLabel></MudTh>
        <MudTh>Статус</MudTh>
        <MudTh>Тема</MudTh>
        <MudTh>Рубрика</MudTh>
        @if (UserArea == UsersAreasHelpdeskEnum.Author)
        {
            <MudTh>Исполнитель</MudTh>
        }
        else
        {
            <MudTh>Автор</MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Создан">
            <a href="@($"/issue-card/{context.Id}")">
                @context.CreatedAtUTC.GetCustomTime().ToString("d", GlobalStaticConstants.RU)<sup>@context.CreatedAtUTC.GetCustomTime().ToString("t", GlobalStaticConstants.RU)</sup>
            </a>
        </MudTd>
        <MudTd DataLabel="Статус">@context.StatusDocument.DescriptionInfo()</MudTd>
        <MudTd DataLabel="Тема">@context.Name</MudTd>
        <MudTd DataLabel="Рубрика">@context.RubricIssue?.Name</MudTd>
        @if (UserArea == UsersAreasHelpdeskEnum.Author)
        {
            <MudTd>@(usersDump.FirstOrDefault(x => x.UserId == context.ExecutorIdentityUserId)?.UserName ?? context.ExecutorIdentityUserId)</MudTd>
        }
        else
        {
            <MudTd>@(usersDump.FirstOrDefault(x => x.UserId == context.AuthorIdentityUserId)?.UserName ?? context.AuthorIdentityUserId)</MudTd>
        }
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Ни одной записи не найдено</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка данных...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>