@using BlazorWebLib.Components.ParametersShared
@using BlazorWebLib.Components.Commerce
@using BlazorLib.Components
@using BlazorLib
@using MudBlazor
@using SharedLib

@inherits BlazorBusyComponentBaseModel

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Home">
        <StringParameterStorageComponent Label="Заголовок" HelperText="Текст в левом верхнем углу" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.TitleMain" />
        <hr />

        <TinyMCEComponent Label="Home PUBLIC" HelperText="Публичная страница для НЕ авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePublic" />
        <hr />
        <TinyMCEComponent Label="Home PRIVATE" HelperText="Страница для авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePrivate" />
    </MudTabPanel>
    <MudTabPanel Text="Другое">
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Ручное создание обращений-заявок в СЭД</h6>
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="ShowCreateIssue" ThumbIcon="@(ShowCreateIssue == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(ShowCreateIssue == true ? Color.Success : Color.Error)">Создание заявок</MudSwitch>
                    <span class="text-info">
                        @(ShowCreateIssue == true ? "Кнопка создания обращения активна" : "Ручное создание обращений отключено")
                    </span>
                </div>
                <div class="form-text">
                    Создание заявок для заказов включено всегда (его отключить нельзя)
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Отображение TG чатов в заявке</h6>
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="ShowingTelegramArea" ThumbIcon="@(ShowingTelegramArea == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(ShowingTelegramArea == true ? Color.Success : Color.Error)">TG чаты в заявках</MudSwitch>
                    <span class="text-info">
                        @(ShowingTelegramArea == true ? "В заявке будет отображаться диалог связанных TG чатов" : "Чаты TG не отображаются в заявках")
                    </span>
                </div>
                <div class="form-text">
                    Основная панель диалога в заявке отображается в любом случае
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Отображение панели вложений в заявках</h6>
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="ShowingAttachmentsOrderArea" ThumbIcon="@(ShowingAttachmentsOrderArea == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(ShowingAttachmentsOrderArea == true ? Color.Success : Color.Error)">Вложения в заказах</MudSwitch>
                    <span class="text-info">
                        @(ShowingAttachmentsOrderArea == true ? "В заказе будет отображаться диалог прикрепления файлов" : "Вложения для заказов отключены")
                    </span>
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Отображение панели вложений в обращениях</h6>
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="ShowingAttachmentsIssueArea" ThumbIcon="@(ShowingAttachmentsIssueArea == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(ShowingAttachmentsIssueArea == true ? Color.Success : Color.Error)">Вложения в обращениях</MudSwitch>
                    <span class="text-info">
                        @(ShowingAttachmentsIssueArea == true ? "В заявке будет отображаться диалог прикрепления файлов" : "Вложения для заявок отключены")
                    </span>
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Рубрика заказа</h6>
                <div class="vstack gap-3">
                    <CascadingValue Value="RubricSelectAction">
                        <CascadingValue Value="RubricMetadataShadow">
                            <RubricSelectorComponent @ref="ref_rubric" Title="" ModeSelectingRubrics="ModesSelectRubricsEnum.AllowWithoutRubric" ShowDisabledRubrics="true" StartRubric="_RubricIssueForCreateOrder" />
                        </CascadingValue>
                    </CascadingValue>
                </div>
                <div class="form-text">
                    Автоматическое назначение рубрики
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">wappi</h6>
                <div class="vstack gap-3">
                    <StringParameterStorageComponent IsPassword="true" Label="Токен API" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiTokenApi" />
                    <hr />
                    <StringParameterStorageComponent Label="ID профиля" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiProfileId" />
                </div>
                <div class="form-text">
                    <a href="https://wappi.pro/">wappi.pro</a> настройки
                </div>
            </li>
        </ul>

    </MudTabPanel>
</MudTabs>