@using MudBlazor
@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Рубрики/категории обращений</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Режим выбора рубрик/категорий обращений
                <MudRadioGroup @bind-Value="SelectedOption">
                    @foreach (ModesSelectRubricsEnum mode in Enum.GetValues(typeof(ModesSelectRubricsEnum)).Cast<ModesSelectRubricsEnum>())
                    {
                        <MudRadio Value="@mode">@mode.DescriptionInfo()</MudRadio>
                    }
                </MudRadioGroup>
                @switch (SelectedOption)
                {
                    case ModesSelectRubricsEnum.Strict:
                        <div class="form-text">Строгий режим: требуется выбор всех подрубрик (если они существуют) до конца.</div>
                        break;
                    case ModesSelectRubricsEnum.SelectAny:
                        <div class="form-text">Разрешён выбор любой рубрики, но выбрать нужно обязательно.</div>
                        break;
                    case ModesSelectRubricsEnum.AllowWithoutRubric:
                        <div class="form-text">В этом режиме выбор рубрики не обязателен.</div>
                        break;
                }
            </li>
            <li class="list-group-item">
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="ShowDisabledRubrics" ThumbIcon="@(ShowDisabledRubrics == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(ShowDisabledRubrics == true ? Color.Success : Color.Error)">Отображение деактивированных рубрик клиенту</MudSwitch>
                    <span class="text-info">
                        @(ShowDisabledRubrics == true ? "Элементы будут отображаться, но не доступны (disable) для выбора" : "Элементы будут скрыты")
                    </span>
                </div>
                <div class="form-text">
                    При создании обращения в процессе выбора рубрики неактивные категории/темы/рубрики можно скрыть, а можно отобразить без возможности их выбирать.
                </div>
            </li>
        </ul>
        <hr />
        <MudPaper Class="ma-2" Elevation="3">
            <RubricsManageComponent />
        </MudPaper>
    </div>
</div>