@using BlazorWebLib.Components.ParametersShared
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authorization
@using BlazorWebLib.Components.Telegram
@using BlazorWebLib.Components.Users
@using MudBlazor
@using SharedLib

@attribute [Authorize(Roles = $"{GlobalStaticConstants.Roles.Admin},{GlobalStaticConstants.Roles.HelpDeskTelegramBotManager},{GlobalStaticConstants.Roles.HelpDeskTelegramBotUnit}")]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<MudTabs Style="overflow: auto;" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
    <MudTabPanel Text="Рубрики">
        <RubricsParametersComponent />
    </MudTabPanel>
    <MudTabPanel ToolTip="Регионы, районы, города" Text="Адреса" Icon="@Icons.Material.Filled.LocationCity">
        <MudPaper Class="ma-2" Elevation="3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Регионы, районы, города (населённые пункты)</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Улицу, дом и далее заполняется в конце отдельно</h6>
                    <RubricsManageComponent ContextName="@GlobalStaticConstants.Routes.ADDRESS_CONTROLLER_NAME" />
                </div>
            </div>
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Text="HelpDesk">
        <ChatsRouteSetComponent />
    </MudTabPanel>
    <MudTabPanel Text="Telegram">
        <TelegramConfigComponent />
    </MudTabPanel>
    <MudTabPanel ToolTip="Права пользователей" Text="Доступ">
        <UsersTableComponent HideClaimsColumn="true" HideRolesColumn="true" RolesMarkers="@showMarkersRoles" RolesManageKit="@GlobalStaticConstants.Roles.AllHelpDeskRoles.Union([GlobalStaticConstants.Roles.CommerceManager,GlobalStaticConstants.Roles.CommerceClient, GlobalStaticConstants.Roles.Debug])" />
    </MudTabPanel>
    <MudTabPanel Text="Шаблоны уведомлений">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
            <MudTabPanel Text="Email">
                <div class="card my-3">
                    <div class="card-body">
                        <p class="text-warning">Учитывайте особенности парсера Email</p>
                        <div class="card my-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Новый документ</h6>
                                <p class="card-text">
                                    <StringParameterStorageComponent Label="Тема письма" HelperText="Subject Email" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewOrderSubjectNotification" />
                                    <hr />
                                    <TextareaParameterStorageComponent Label="Текст письма" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewOrderBodyNotification" HelperText="Текст Email при создании документа" />
                                </p>
                            </div>
                        </div>
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
                            @foreach (StatusesDocumentsEnum stepEnum in Enum.GetValues(typeof(StatusesDocumentsEnum)).Cast<StatusesDocumentsEnum>())
                            {
                                <MudTabPanel Text="@stepEnum.DescriptionInfo()">
                                    @{
                                        StorageMetadataModel _kss = GlobalStaticConstants.CloudStorageMetadata.CommerceStatusChangeOrderSubjectNotification(stepEnum),
                                        _ksb = GlobalStaticConstants.CloudStorageMetadata.CommerceStatusChangeOrderBodyNotification(stepEnum);
                                    }
                                    <div class="card my-3">
                                        <div class="card-body">
                                            <h6 class="card-subtitle mb-2 text-body-secondary">Изменение статуса</h6>
                                            <p class="card-text">
                                                <StringParameterStorageComponent Label="Тема письма" HelperText="Subject Email" KeyStorage="_kss" />
                                                <hr />
                                                <TextareaParameterStorageComponent Label="Текст письма" KeyStorage="_ksb" HelperText="Текст Email при изменении статуса документа" />
                                            </p>
                                        </div>
                                    </div>
                                </MudTabPanel>
                            }
                        </MudTabs>
                        <div class="card my-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Новое сообщение</h6>
                                <p class="card-text">
                                    <StringParameterStorageComponent Label="Тема письма" HelperText="Subject Email" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewMessageOrderSubjectNotification" />
                                    <hr />
                                    <TextareaParameterStorageComponent Label="Текст письма" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewMessageOrderBodyNotification" HelperText="Текст Email при появлении нового сообщения в документе" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Telegram">
                <div class="card my-3">
                    <div class="card-body">
                        <p class="text-warning">Синтаксис должен соответствовать <a href="https://core.telegram.org/api/entities">TelegramBot API</a> </p>
                        <div class="card my-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Новый документ</h6>
                                <p class="card-text">
                                    <TextareaParameterStorageComponent Label="Текст сообщения" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewOrderBodyNotificationTelegram" HelperText="Текст TelegramBot уведомления при создании документа" />
                                </p>
                            </div>
                        </div>
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
                            @foreach (StatusesDocumentsEnum stepEnum in Enum.GetValues(typeof(StatusesDocumentsEnum)).Cast<StatusesDocumentsEnum>())
                            {
                                <MudTabPanel Text="@stepEnum.DescriptionInfo()">
                                    <div class="card my-3">
                                        <div class="card-body">
                                            <h6 class="card-subtitle mb-2 text-body-secondary">Изменение статуса</h6>
                                            <p class="card-text">
                                                <TextareaParameterStorageComponent Label="Текст сообщения" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceStatusChangeOrderBodyNotificationTelegram(stepEnum)" HelperText="Текст TelegramBot уведомления при изменении статуса документа" />
                                            </p>
                                        </div>
                                    </div>
                                </MudTabPanel>
                            }
                        </MudTabs>
                        <div class="card my-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Новое сообщение</h6>
                                <p class="card-text">
                                    <TextareaParameterStorageComponent Label="Текст сообщения" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewMessageOrderBodyNotificationTelegram" HelperText="Текст TelegramBot уведомления при добавлении комментария к документу" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Whatsapp">
                <div class="card my-3">
                    <div class="card-body">
                        <p class="text-warning">Синтаксис должен соответствовать Whatsapp</p>
                        <div class="card my-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Новый документ</h6>
                                <p class="card-text">
                                    <TextareaParameterStorageComponent Label="Текст сообщения" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewOrderBodyNotificationWhatsapp" HelperText="Текст Whatsapp уведомления при создании документа" />
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-info">
                                    Курсив - Чтобы выделить текст <i>курсивом</i>, используйте символ подчеркивания по обе стороны текста: _Текст_
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Жирный шрифт - Чтобы выделить текст <b>жирным шрифтом</b>, используйте звездочку по обе стороны текста: *Текст*
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Зачеркивание - Чтобы <s>зачеркнуть текст</s>, используйте символ тильды по обе стороны текста: ~Текст~
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Моноширинный шрифт - Чтобы выделить текст <span class="font-monospace">моноширинным шрифтом</span>, используйте три обратных апострофа по обе стороны текста: ```Текст```
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Маркированный список - Чтобы добавить в сообщение маркированный список, поставьте звездочку или дефис и пробел перед каждым словом или предложением:
                                    <pre>
* Текст
* Текст
Или
- Текст
- Текст
                                    </pre>
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Нумерованный список - Чтобы добавить в сообщение нумерованный список, поставьте номер, точку и пробел перед каждой строкой текста:
                                    <pre>
1. Текст
2. Текст
                                    </pre>
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Цитирование - Чтобы добавить в сообщение цитату, поставьте угловую скобку и пробел перед текстом: > Текст
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Встроенный код - Чтобы добавить в сообщение встроенный код, поставьте обратный штрих с обеих сторон сообщения: `Текст`
                                </li>
                            </ul>
                        </div>
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
                            @foreach (StatusesDocumentsEnum stepEnum in Enum.GetValues(typeof(StatusesDocumentsEnum)).Cast<StatusesDocumentsEnum>())
                            {
                                <MudTabPanel Text="@stepEnum.DescriptionInfo()">
                                    <div class="card my-3">
                                        <div class="card-body">
                                            <h6 class="card-subtitle mb-2 text-body-secondary">Изменение статуса</h6>
                                            <p class="card-text">
                                                <TextareaParameterStorageComponent Label="Текст сообщения" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceStatusChangeOrderBodyNotificationWhatsapp(stepEnum)" HelperText="Текст Whatsapp уведомления при изменении статуса документа" />
                                            </p>
                                        </div>
                                    </div>
                                </MudTabPanel>
                            }
                        </MudTabs>
                        <div class="card my-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-body-secondary">Новое сообщение</h6>
                                <p class="card-text">
                                    <TextareaParameterStorageComponent Label="Текст сообщения" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.CommerceNewMessageOrderBodyNotificationWhatsapp" HelperText="Текст Whatsapp уведомления при добавлении комментария к документу" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </MudTabPanel>
        </MudTabs>
        <hr class="my-3" />
        <div class="alert alert-primary" role="alert">
            <p>Допустимы следующие выражения:</p>
            <dl class="row">
                <dt class="col-sm-3">@GlobalStaticConstants.DocumentNameProperty</dt>
                <dd class="col-sm-9">Название документа.</dd>

                <dt class="col-sm-3">@GlobalStaticConstants.DocumentDateProperty</dt>
                <dd class="col-sm-9">
                    <p>Дата документа.</p>
                </dd>

                <dt class="col-sm-3">@GlobalStaticConstants.DocumentStatusProperty</dt>
                <dd class="col-sm-9">
                    <p>Статус документа.</p>
                </dd>

                <dt class="col-sm-3">@GlobalStaticConstants.DocumentLinkAddressProperty</dt>
                <dd class="col-sm-9">
                    <p>Ссылка на документ.</p>
                </dd>

                <dt class="col-sm-3">@GlobalStaticConstants.HostAddressProperty</dt>
                <dd class="col-sm-9">
                    <p>Адрес сайта.</p>
                </dd>
            </dl>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Отображение">
        <div class="row row-cols-1 row-cols-md-2 g-1">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowClaimsUser" Title="Отображение колонки Claims" Label="Колонка Claims пользователей" HintTrue="Колонка Claims отображается" HintFalse="Колонка Claims скрыта" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowCreatingIssue" Title="Ручное создание обращений-заявок в СЭД" Label="Создание заявок" HintTrue="Кнопка создания обращения активна" HintFalse="Ручное создание обращений отключено" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingTelegramArea" Title="Отображение TG чатов в заявке" Label="TG чаты в заявках" HintTrue="В заявке будет отображаться диалог связанных TG чатов" HintFalse="Чаты TG не отображаются в заявках" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingWappiArea" Title="Отображение WhatsApp отправки сообщения в заявке" Label="WhatsApp чаты в заявках" HintTrue="В заявке будет отображаться диалог отправки WhatsApp сообщения" HintFalse="Отправка WhatsApp сообщений не отображаются в заявках" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingPriceSelectorOrder" Title="Отображение цены в селекторе номенклатуры в создании заказа" Label="Цены при выборе номенклатуры в заказе" HintTrue="В заказе будет отображаться диалог прикрепления файлов" HintFalse="Вложения для заказов отключены" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingAttachmentsOrderArea" Title="Отображение панели вложений в заявках" Label="Вложения в заказах" HintTrue="В заказе будет отображаться диалог прикрепления файлов" HintFalse="Вложения для заказов отключены" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingAttachmentsIssuesArea" Title="Отображение панели вложений в обращениях" Label="Вложения в обращениях" HintTrue="В заявке будет отображаться диалог прикрепления файлов" HintFalse="Вложения для заявок отключены" />
                    </div>
                </div>
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel ToolTip="Другие параметры" Text="Разное">
        <OtherParametersHelpdeskComponent />
    </MudTabPanel>
</MudTabs>