@using MudBlazor
@using System.Globalization

@inherits BlazorBusyComponentRegistersModel

@if (!IsShowAddingOffer)
{
    <MudButton Disabled="@(!ActualOffers.Any())" Variant="Variant.Outlined" Color="Color.Primary" OnClick="OnExpandAddingOffer">Добавить</MudButton>
}
else
{
    <div class="hstack gap-3">
        <select @bind="SelectedOfferId" class="form-select" aria-label="Добавить позиции в заказ">
            @foreach (IGrouping<GoodsModelDB?, OfferGoodModelDB> opt_g in OffersNodes)
            {
                <optgroup label="@opt_g.Key!.Name">
                    @foreach (OfferGoodModelDB opt in opt_g)
                    {
                        <option value="@opt.Id">@opt.GetName() (@((opt.Price / opt.Multiplicity).ToString(CultureInfo.CreateSpecificCulture("ru-RU")))руб. за шт.)</option>
                    }
                </optgroup>
            }
        </select>
        <MudNumericField @bind-Value="QuantityValue" Variant="Variant.Text" Min="1" />
        <MudIconButton title="Добавить товар в корзину" OnClick="AddOffer" Disabled="@(SelectedOffer is null || this.RegistersCache.Where(x => x.OfferId == SelectedOffer.Id && x.WarehouseId == WarehouseId).Sum(x=>x.Quantity) == 0)" Icon="@Icons.Material.Filled.Add" Color="Color.Success"></MudIconButton>
        <MudButton title="Отмена добавления товара в корзину" Color="Color.Info" OnClick="OnExpandAddingOffer">Отмена</MudButton>
    </div>
}