@inherits BlazorBusyComponentBaseAuthModel

@if (editGoods is null)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Товар не найден.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Либо у вас нет <cite title="или удалён">доступа</cite>
        </figcaption>
    </figure>
}
else
{
    <div class="card">
        <div class="card-header">
            <div class="input-group mb-2">
                <span class="input-group-text">Карточка номенклатуры</span>
                <input @bind-value="editGoods.Name" disabled="@(!CurrentUserSession!.IsAdmin)" @bind-value:event="oninput" type="text" aria-label="First name" class="form-control">
                <select disabled="@(!CurrentUserSession.IsAdmin)" @bind="editGoods.BaseUnit" class="form-select">
                    @foreach (UnitsOfMeasurementEnum uom in Enum.GetValues(typeof(UnitsOfMeasurementEnum)).Cast<UnitsOfMeasurementEnum>())
                    {
                        <option value="@uom">@uom.DescriptionInfo()</option>
                    }
                </select>
                @if (CurrentUserSession.IsAdmin)
                {
                    <button @onclick="SaveGoods" disabled="@(!CanSave || !CurrentUserSession.IsAdmin)" class="btn btn-outline-secondary" type="button" id="button-addon2">Сохранить</button>
                }
            </div>
        </div>
        <div class="card-body">
            <OffersOfGoodsComponent CurrentGoods="editGoods" />
        </div>
    </div>
}