@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<style>
    td.mud-table-cell sup.bi, i.bi {
        cursor: pointer;
        color: brown;
    }
</style>

<MudPaper Class="pa-4 mt-3">
    <MudStack Spacing="2">
        @if (user.IsAdmin)
        {
            <MudButton OnClick="OnExpandCollapseClick">@(_expanded ? "Отмена" : "Создать")</MudButton>
            <MudCollapse Expanded="_expanded">
                <OfferCreatingFormComponent OfferCreatingHandler="CreateOfferAction" CurrentGoods="CurrentGoods" />
            </MudCollapse>
        }
    </MudStack>
    <MudTable ServerData="ServerReload" Dense="true" Hover="true" @ref="table">
        <ToolBarContent>
            @* <MudText Typo="Typo.h6">Offers</MudText> *@
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Номенклатура</MudTh>
            <MudTh>Название</MudTh>
            <MudTh>Цена/Стоимость</MudTh>
            <MudTh>Кратность</MudTh>
            <MudTh>Ед. изм.</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Goods">
                @if (user.IsAdmin)
                {
                    <a href="/goods/offer-card/@context.Id">@($"`{context.Goods?.Name}` ({context.Goods?.BaseUnit.DescriptionInfo()})")</a>
                }
                else
                {
                    <span>@($"`{context.Goods?.Name}` ({context.Goods?.BaseUnit.DescriptionInfo()})")</span>
                }
            </MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Price">
                @($"{context.Price}/{Math.Round(context.Price / context.Multiplicity, 2)}")
                @if (user.IsAdmin)
                {
                    <PricesRulesForOfferComponent OfferGood="context" />
                }
            </MudTd>
            <MudTd DataLabel="Multiplicity">@context.Multiplicity</MudTd>
            <MudTd DataLabel="OfferUnit">@context.OfferUnit.DescriptionInfo()</MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Данные отсутствуют</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Загрузка...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>