@using BlazorWebLib.Components.ParametersShared
@using MudBlazor
@inherits BlazorBusyComponentRegistersModel

<style>
    td.mud-table-cell sup.bi, i.bi {
        cursor: pointer;
        color: brown;
    }
</style>

<MudPaper Class="pa-4 mt-3 position-relative">
    <AuthorizeView Roles="@($"{GlobalStaticConstants.Roles.Admin}")">
        <Authorized>
            <span title="Настройка отображения" @onclick="CancelChangeConfig" style="cursor:pointer;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bi bi-gear-fill">
                <span class="visually-hidden">view config</span>
            </span>
        </Authorized>
    </AuthorizeView>
    <MudStack Spacing="2" Class="pb-2">
        @if (CurrentUserSession!.IsAdmin)
        {
            <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">@(_expanded ? "Отмена" : "Создать")</MudButton>
            <MudCollapse Expanded="_expanded">
                <OfferCreatingFormComponent OfferCreatingHandler="CreateOfferAction" CurrentNomenclature="CurrentNomenclature" />
            </MudCollapse>
        }
    </MudStack>
    <MudTable ServerData="ServerReload" Dense="true" Hover="true" @ref="table">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Offers</MudText>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Номенклатура</MudTh>
            <MudTh>Название</MudTh>
            <MudTh>Цена@(_hideWorth ? "" : "/Стоимость")</MudTh>
            @if (!_hideMultiplicity)
            {
                <MudTh>Кратность</MudTh>
            }
            <MudTh>Ед. изм.</MudTh>
            <MudTh>Баланс</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Номенклатура">
                <span>@($"`{context.Nomenclature?.Name}` ({context.Nomenclature?.BaseUnit.DescriptionInfo()})")</span>
            </MudTd>
            <MudTd DataLabel="Название">
                <a href="/nomenclature/offer-card/@context.Id">@context.Name</a>
                <AuthorizeView Context="col" Roles="@($"{GlobalStaticConstants.Roles.Admin}")">
                    <Authorized>
                        <sup class="text-secondary-emphasis">@context.QuantitiesTemplate</sup>
                    </Authorized>
                </AuthorizeView>
            </MudTd>
            <MudTd DataLabel="Цена">
                @($"{context.Price}{(_hideWorth ? "" : $"/{Math.Round(context.Price / context.Multiplicity, 2)}")}")
                @if (CurrentUserSession!.IsAdmin)
                {
                    <PricesRulesForOfferComponent Offer="context" />
                }
            </MudTd>
            @if (!_hideMultiplicity)
            {
                <MudTd DataLabel="Кратность">@context.Multiplicity</MudTd>
            }
            <MudTd DataLabel="Ед. изм.">@context.OfferUnit.DescriptionInfo()</MudTd>
            <MudTd DataLabel="Баланс">
                @RegistersCache.Where(x => x.OfferId == context.Id).Sum(x => x.Quantity)
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Данные отсутствуют</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Загрузка...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>
<MudDialog @bind-Visible="_visibleChangeConfig" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Настройки отображения
        </MudText>
    </TitleContent>
    <DialogContent>
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.HideMultiplicityOffers" Title="Колонка кратности" Label="Кратность: отображение колонки" HintTrue="Колонка кратности скрыта" HintFalse="Колонка кратности отображается" />
            </li>
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.HideWorthOffers" Title="Стоимость" Label="Отображение информации" HintTrue="Стоимость не отображается" HintFalse="Стоимость отображается" />
            </li>
        </ul>
    </DialogContent>
</MudDialog>