@using MudBlazor
@inherits BlazorBusyComponentRegistersModel

<style>
    td.mud-table-cell sup.bi, i.bi {
        cursor: pointer;
        color: brown;
    }
</style>

<MudPaper Class="pa-4 mt-3 position-relative">
    <AuthorizeView Roles="@($"{GlobalStaticConstants.Roles.Admin}")">
        <Authorized>
            <span title="Настройка отображения" @onclick="CancelChangeConfig" style="cursor:pointer;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bi bi-gear-fill">
                <span class="visually-hidden">view config</span>
            </span>
        </Authorized>
    </AuthorizeView>
    <MudStack Spacing="2">
        @if (CurrentUserSession!.IsAdmin)
        {
            <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">@(_expanded ? "Отмена" : "Создать")</MudButton>
            <MudCollapse Expanded="_expanded">
                <OfferCreatingFormComponent OfferCreatingHandler="CreateOfferAction" CurrentGoods="CurrentGoods" />
            </MudCollapse>
        }
    </MudStack>
    <MudTable ServerData="ServerReload" Dense="true" Hover="true" @ref="table">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Offers</MudText>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Номенклатура</MudTh>
            <MudTh>Название</MudTh>
            <MudTh>Цена@(HideWorth ? "" : "/Стоимость")</MudTh>
            @if (!HideMultiplicity)
            {
                <MudTh>Кратность</MudTh>
            }
            <MudTh>Ед. изм.</MudTh>
            <MudTh>Остатки</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Goods">
                <span>@($"`{context.Goods?.Name}` ({context.Goods?.BaseUnit.DescriptionInfo()})")</span>
            </MudTd>
            <MudTd DataLabel="Name">
                <a href="/goods/offer-card/@context.Id">@context.Name</a>
                <AuthorizeView Context="col" Roles="@($"{GlobalStaticConstants.Roles.Admin}")">
                    <Authorized>
                        <sup class="text-secondary-emphasis">@context.QuantitiesTemplate</sup>
                    </Authorized>
                </AuthorizeView>
            </MudTd>
            <MudTd DataLabel="Price">
                @($"{context.Price}{(HideWorth ? "" : $"/{Math.Round(context.Price / context.Multiplicity, 2)}")}")
                @if (CurrentUserSession!.IsAdmin)
                {
                    <PricesRulesForOfferComponent OfferGood="context" />
                }
            </MudTd>
            @if (!HideMultiplicity)
            {
                <MudTd DataLabel="Multiplicity">@context.Multiplicity</MudTd>
            }
            <MudTd DataLabel="OfferUnit">@context.OfferUnit.DescriptionInfo()</MudTd>
            <MudTd DataLabel="Остатки">
                @RegistersCache.Where(x => x.OfferId == context.Id).Sum(x => x.Quantity)
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Данные отсутствуют</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Загрузка...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>
<MudDialog @bind-Visible="_visibleChangeConfig" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Настройки отображения
        </MudText>
    </TitleContent>
    <DialogContent>
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Колонка кратности</h6>
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="HideMultiplicity" ThumbIcon="@(HideMultiplicity == false ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HideMultiplicity == false ? Color.Success : Color.Error)">Кратность: отображение колонки</MudSwitch>
                    <span class="text-info">
                        @(HideMultiplicity == true ? "Колонка кратности скрыта" : "Колонка кратности отображается")
                    </span>
                </div>
                <div class="form-text">
                    Цена отображается не зависимо от настроек
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Стоимость</h6>
                <div class="hstack gap-3">
                    <MudSwitch @bind-Value="HideWorth" ThumbIcon="@(HideWorth == false ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HideWorth == false ? Color.Success : Color.Error)">Отображение информации</MudSwitch>
                    <span class="text-info">
                        @(HideWorth == true ? "Стоимость не отображается" : "Стоимость отображается")
                    </span>
                </div>
            </li>
        </ul>
    </DialogContent>
</MudDialog>