@using MudBlazor
@inherits BlazorBusyComponentBaseAuthModel

<div class="card">
    <div class="card-header">
        @if (IsBusyProgress)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
        }
        else
        {
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Основное">
                    <MudTextField Disabled="(IsBusyProgress || !CurrentUserSession!.IsAdmin)" @bind-Value="editOffer.Name" Label="Полное наименование" Variant="Variant.Outlined" Immediate ShrinkLabel></MudTextField>
                    <MudStack Row="true" Class="mb-3">
                        <MudTextField Disabled="(IsBusyProgress || !CurrentUserSession!.IsAdmin)" @bind-Value="editOffer.ShortName" Label="Название (краткое)" Variant="Variant.Outlined" Immediate ShrinkLabel></MudTextField>
                        <MudSelect Disabled="(IsBusyProgress || !CurrentUserSession!.IsAdmin)" @bind-Value="editOffer.OfferUnit" Label="Единица измерения" Placeholder="Выбор ед.изм." Variant="Variant.Outlined">
                            @foreach (UnitsOfMeasurementEnum u in Enum.GetValues(typeof(UnitsOfMeasurementEnum)).Cast<UnitsOfMeasurementEnum>())
                            {
                                <MudSelectItem Value="u">@u.DescriptionInfo()</MudSelectItem>
                            }
                        </MudSelect>
                        <MudNumericField Disabled="(IsBusyProgress || !CurrentUserSession!.IsAdmin)" @bind-Value="editOffer.Multiplicity" Label="Кратность" Variant="Variant.Outlined" Immediate />
                        <MudNumericField Disabled="(IsBusyProgress || !CurrentUserSession!.IsAdmin)" @bind-Value="editOffer.Price" Label="Цена" Format="N2" Variant="Variant.Outlined" Immediate />
                        <MudFab Disabled="(IsBusyProgress || !CanSave || !CurrentUserSession!.IsAdmin)" title="Сохранить изменения" OnClick="SaveOffer" StartIcon="@Icons.Material.Filled.Save" Color="@(CanSave ? Color.Info : Color.Default)" Size="Size.Small" Class="align-self-center" />
                        @if (!IsBusyProgress || CanSave)
                        {
                            <MudFab OnClick="() => editOffer = GlobalTools.CreateDeepCopy(CurrentOffer)!" title="Отменить изменение" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Surface" Size="Size.Small" Class="align-self-center" />
                        }
                    </MudStack>                    
                    <MudSwitch Disabled="(IsBusyProgress || !CurrentUserSession!.IsAdmin)" @bind-Value="editOffer.IsDisabled" Label="Отключение" Color="Color.Secondary" />
                    <AuthorizeView Roles="@GlobalStaticConstants.Roles.Admin">
                        <Authorized>
                            <div class="input-group my-3">
                                <span class="input-group-text" id="basic-tmpl-@editOffer.Id">Шаблон количества</span>
                                <input @bind-value="editOffer.QuantitiesTemplate" @bind-value:event="oninput" type="text" class="form-control" placeholder="Значения через пробел" aria-label="Значения через пробел" aria-describedby="basic-tmpl-@editOffer.Id">
                            </div>
                            <div class="card mt-3">
                                <div class="card-body">
                                    <TinyMCE.Blazor.Editor @bind-Value="editOffer.Description" ScriptSrc="@GlobalStaticConstants.TinyMCEditorScriptSrc" Conf="@editorConf" Disable="@(OfferId < 1)" />
                                </div>
                            </div>
                            <div class="card mt-3">
                                <div class="card-body">
                                    <FilesContextViewComponent ApplicationsNames="@([GlobalStaticConstants.Routes.OFFER_CONTROLLER_NAME])"
                                                               PrefixPropertyName="@GlobalStaticConstants.Routes.USER_CONTROLLER_NAME"
                                                               PropertyName="@GlobalStaticConstants.Routes.ATTACHMENT_CONTROLLER_NAME"
                                                               OwnerPrimaryKey="OfferId"
                                                               @ref="filesViewRef"
                                                               Title="Файлы"
                                                               ManageMode="true" />
                                    <hr />
                                    <TagsViewComponent ApplicationsNames="@([GlobalStaticConstants.Routes.OFFER_CONTROLLER_NAME])"
                                                       ManageMode="true"
                                                       PrefixPropertyName="@GlobalStaticConstants.Routes.DEFAULT_CONTROLLER_NAME"
                                                       PropertyName="@GlobalStaticConstants.Routes.METADATA_CONTROLLER_NAME"
                                                       Title="Теги"
                                                       OwnerPrimaryKey="@OfferId" />
                                </div>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            @((MarkupString)(editOffer.Description ?? ""))
                        </NotAuthorized>
                    </AuthorizeView>
                </MudTabPanel>
                <AuthorizeView Roles="@GlobalStaticConstants.Roles.Admin">
                    <Authorized>
                        <MudTabPanel Text="Заказы">
                            <OrdersJournalComponent OfferFilter="editOffer.Id" />
                        </MudTabPanel>
                    </Authorized>
                </AuthorizeView>
            </MudTabs>
        }
    </div>
</div>