@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<MudTable Loading="IsBusyProgress" ServerData="ServerReload" Dense="true" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Заказы</MudText>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="@(nameof(OrderDocumentModelDB.CreatedAtUTC))" T="OrderDocumentModelDB">Создан</MudTableSortLabel></MudTh>
        <MudTh>Информация</MudTh>
        <MudTh>Сумма</MudTh>
        <MudTh>Статус</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Создан"><a href="/issue-card/@context.HelpdeskId">@context.CreatedAtUTC</a></MudTd>
        <MudTd DataLabel="Информация">@context.Name</MudTd>
        <MudTd DataLabel="Сумма">@context.TotalSumForRows()</MudTd>
        <MudTd DataLabel="Статус">@IssuesCacheDump.FirstOrDefault(x => x.Id == context.HelpdeskId)!.StepIssue.DescriptionInfo()</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Данные отсутствуют</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>