@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<MudTable Loading="IsBusyProgress" ServerData="ServerReload" Dense="true" Hover="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Юридические лица: (@(current_user is null ? "Все" : current_user.Email))</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortLabel="@(nameof(OrganizationModelDB.Name))" T="OrganizationModelDB">Название</MudTableSortLabel></MudTh>
        <MudTh>Контакты</MudTh>
        <MudTh>Юр.Адрес</MudTh>
        <MudTh>ИНН/ОГРН</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Название"><a href="/organization-edit/@(context.Id)">@context.Name</a></MudTd>
        <MudTd DataLabel="Контакты">
            @context.Phone
            <code class="ms-2">@context.Email</code>
        </MudTd>
        <MudTd DataLabel="Юр.Адрес">@context.LegalAddress</MudTd>
        <MudTd DataLabel="ИНН/ОГРН">@($"{context.INN}/{context.OGRN}")</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Данные отсутствуют</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Загрузка...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>